@model GetUserDetailQuery.Response

@{
    ViewBag.Title = Model.UserName;
    Layout = "_Layout";
}

<h2>
    <span>@Model.UserName</span>
</h2>

<div class="col-xs-12">
    <div class="col-xs-4 col-sm-4">
        <img class="avatar" src="@Model.Photo" alt="@Model.UserName" />
    </div>
    <div class="col-xs-8 col-sm-8">
    </div>
</div>

<div class="form-horizontal top10" role="form">
    <div class="form-group">
        <label class="col-xs-2 control-label">Группа</label>
        <div class="col-xs-10">
            <span class="form-control">@Model.RoleGroupName</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2 control-label">Последний вход</label>
        <div class="col-xs-10">
            <span class="form-control timeConvert" data-date="@Model.LastModifiedOn.ToString("O")" data-dow="true" data-sec="false"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2 control-label">Дата регистрации</label>
        <div class="col-xs-10">
            <span class="form-control timeConvert" data-date="@Model.RegistrationDate.ToString("O")" data-dow="true" data-sec="false"></span>
        </div>
    </div>
    @if (!string.IsNullOrWhiteSpace(Model.FullName))
    {
        <div class="form-group">
            <label class="col-xs-2 control-label">Полное имя</label>
            <div class="col-xs-10">
                <span class="form-control">@Model.FullName</span>
            </div>
        </div>
    }
    @if (Model.Birthday.HasValue)
    {
        <div class="form-group">
            <label class="col-xs-2 control-label">День рождения</label>
            <div class="col-xs-10">
                <span class="form-control">@Model.Birthday.Value.ToString("G")</span>
            </div>
        </div>
    }
    <div class="form-group">
        <label class="col-xs-2 control-label">Пол</label>
        <div class="col-xs-10">
            @if (Model.Gender)
            {
                <span class="form-control">Женский</span>
            }
            else
            {
                <span class="form-control">Мужской</span>
            }
        </div>
    </div>
    <div>
        <ul class="list-inline">
            @if (Model.NewsCount > 0)
            {
                <li>
                    <a asp-action="Index" asp-controller="Materials" asp-route-type="News" asp-route-userId="@Model.Id">Новости(@Model.NewsCount)</a>
                </li>
                <li>|</li>
            }
            @if (Model.BlogsCount > 0)
            {
                <li *ngIf="item.blogsCount > 0">
                    <a asp-action="Index" asp-controller="Materials" asp-route-type="Blogs" asp-route-userId="@Model.Id">Блоги(@Model.BlogsCount)</a>
                </li>
                <li>|</li>
            }
    </ul>
    </div>
</div>

<environment names="Staging,Production">
    <div class="col-xs-12">
        <div id="yandex_rtb_R-A-255349-1"></div>
        <script type="text/javascript">
            (function (w, d, n, s, t) {
                w[n] = w[n] || [];
                w[n].push(function () {
                    Ya.Context.AdvManager.render({
                        blockId: "R-A-255349-1",
                        renderTo: "yandex_rtb_R-A-255349-1",
                        async: true
                    });
                });
                t = d.getElementsByTagName("script")[0];
                s = d.createElement("script");
                s.type = "text/javascript";
                s.src = "//an.yandex.ru/system/context.js";
                s.async = true;
                t.parentNode.insertBefore(s, t);
            })(this, this.document, "yandexContextAsyncCallbacks");
        </script>
    </div>
</environment>
