@using MyLiverpool.Business.Resources
<div class="col-md-12">
    <h2>
        {{ user.userName }}
        <span ng-show="loggedIn() && !isSelf()">
            <a ui-sref="wpm({ userName: user.userName })"><span class="glyphicon glyphicon-envelope"></span></a>
        </span>
    </h2>

    <form class="form-horizontal" role="form" ng-init="init()">
        <div class="form-group">
            <label class="col-sm-2 control-label">@UsersMessages.UserName</label>
            <div class="col-sm-10">
                <span class="form-control">{{ user.userName }}</span>
                
                <span class="row" ng-if="user.lockoutEndDateUtc">@UsersMessages.UsersActivityBannedUntil {{ user.lockoutEndDateUtc }}</span>
            </div>
        </div>
        <div ng-if="isModerator()" class="form-group">
            <label class="col-sm-2 control-label">@UsersMessages.UserName</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" name="banDaysCount" validation="required" ng-model="banDaysCount" /> <a ng-click="ban()">@CommonMessages.Ban</a>
                <span class="row" ng-if="user.lockoutEndDateUtc">@UsersMessages.UsersActivityBannedUntil {{ user.lockoutEndDateUtc }}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">@UsersMessages.Group</label>
            <div class="col-sm-10">
                <div>
                    <span ng-if="!isAdmin()" class="form-control">{{ user.roleGroupName }}</span>
                    <select ng-if="isAdmin()" class="form-control" name="newsCategoryId"
                            ng-model="user.roleGroupId"
                            ng-options="roleGroup.id as roleGroup.name for roleGroup in roleGroups" required="" validation="required" ng-change="editRole()"></select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">@UsersMessages.LastLogin</label>
            <div class="col-sm-10">
                <span class="form-control">{{ user.lastModifiedOn | date:'medium'}}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">@UsersMessages.RegistrationDate</label>
            <div class="col-sm-10">
                <span class="form-control">{{ user.registrationDate | date:'medium' }}</span>
            </div>
        </div>
        <div class="form-group" ng-if="user.fullName">
            <label class="col-sm-2 control-label">@UsersMessages.FullName</label>
            <div class="col-sm-10">
                <span class="form-control">{{ user.fullName }}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">@UsersMessages.BirthDay</label>
            <div class="col-sm-10">
                <span class="form-control">{{ user.birthday | date:'medium' }}</span>
            </div>
        </div>
        <div class="form-group" ng-if="user.gender">
            <label class="col-sm-2 control-label">@UsersMessages.Gender</label>
            <div class="col-sm-10">
                <span class="form-control" ng-if="user.gender">@UsersMessages.Women</span>
                <span class="form-control" ng-if="!user.gender">@UsersMessages.Men</span>
            </div>
        </div>
    </form>
</div>

<script type="text/ng-template" id="changeRoleConfirmation.html">
    <div class="modal-header">
        <h3 class="modal-title">@CommonMessages.RoleEditing</h3>
    </div>
    <div class="modal-body">
        @CommonMessages.Change?
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">@CommonMessages.Change</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">@CommonMessages.Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="banConfirmation.html">
    <div class="modal-header">
        <h4 class="modal-title">@UsersMessages.BanUserQuestion</h4>
    </div>
    <div class="modal-body">
      @*  <h3>{user.userName}</h3>*@
        <form role="form" class="form-group">
            <label class="col-md-12 control-label">@UsersMessages.HowManyDaysWillUserBanned</label>
            <div class="col-md-9 input-group ">
                <input type="number" class="form-control" name="banDaysCount" validation="required" ng-model="banDaysCount"/>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="ok()">@CommonMessages.Ban</button>
        <button type="button" class="btn btn-primary" ng-click="cancel()">@CommonMessages.Cancel</button>
    </div>
</script>