@using MyLiverpool.Business.Resources
<div class="col-md-12">
    <h2 ng-bind="user.userName">
        <span ng-show="loggedIn() && !isSelf(user.id)">
            <a ui-sref="wpm({ userName: user.userName })"><span class="glyphicon glyphicon-envelope"></span></a>
        </span>
    </h2>
    <div class="clearfix">
        <div class="col-md-2">
            <img class="avatar" ng-src="{{user.photo}}"/>
        </div>
        <div class="col-md-10">
            <div ng-if="isSelf(user.id) || isModerator()">
                <button class="btn btn-info" ngf-select="uploadFiles($file, $invalidFiles)"
                        accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
                    @CommonMessages.UpdateAvatar
                </button>
                <button ng-if="isSelf(user.id)" class="btn btn-danger" ui-sref="changePassword()"> @CommonMessages.ChangePassword</button>
                <br><br>
                <div>
                    <span ng-show="errFile.$error" ng-bind="errFile.$error"></span>
                    <span ng-show="errFile.$errorParam" ng-bind="errFile.$errorParam"></span>
                    <span class="progress" ng-show="f.progress >= 0">
                        <span style="width:{{f.progress}}%" ng-bind="f.progress + '%'"></span>
                    </span>
                </div>
                {{errorMsg}}
            </div>
        </div>
    </div>

    <form class="form-horizontal" role="form" ng-init="init()">
        <div class="form-group">
            <label class="col-sm-2 control-label">@UsersMessages.UserName</label>
            <div class="col-sm-10">
                <span class="form-control" ng-bind="user.userName"></span>
            </div>
        </div>
        <div ng-if="isModerator()" class="form-group">
            <label class="col-sm-2 control-label">@ColonsMessages.Ban</label>
            <div class="col-sm-10 container-row" ng-show="!$parent.user.lockoutEndDateUtc">
                <div class="col-sm-3">
                    <input min="0" type="number" placeholder="@CommonMessages.DaysCount" class="form-control" ng-model="$parent.banDaysCount" />
                </div>
                <div class="col-sm-9">
                    <button class="btn btn-danger" ng-click="ban()" ng-disabled="$parent.banDaysCount <= 0">@CommonMessages.Ban</button>
                </div>
            </div>
            <div class="col-sm-10 container-row" ng-show="$parent.user.lockoutEndDateUtc">
                <span class="col-sm-8 flex-vertical-center" ng-if="user.lockoutEndDateUtc">@UsersMessages.UsersActivityBannedUntil<span ng-bind="user.lockoutEndDateUtc | date:'medium'"></span></span>
                <button class="btn btn-success" ng-if="isMainModerator()" ng-click="unban()">@CommonMessages.Unban</button>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">@UsersMessages.Group</label>
            <div class="col-sm-10">
                <div>
                    <span ng-if="!isAdmin()" class="form-control" ng-bind="user.roleGroupName"></span>
                    <select ng-if="isAdmin()" class="form-control" name="newsCategoryId"
                            ng-model="user.roleGroupId"
                            ng-options="roleGroup.id as roleGroup.name for roleGroup in roleGroups" validation="required" ng-change="editRole()"></select>
                </div>
            </div>
        </div>
        <div class="form-group" ng-if="isSelf() || isAdmin()">
            <label class="col-sm-2 control-label" ng-show="user.emailConfirmed">@UsersMessages.Email</label>
            <label class="col-sm-2 control-label text-danger" uib-tooltip="@CommonMessages.EmailNotConfirm" ng-show="!user.emailConfirmed">@UsersMessages.Email</label>
            <div class="col-sm-10">
                <span class="form-control" ng-bind="user.email"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">@UsersMessages.LastLogin</label>
            <div class="col-sm-10">
                <span class="form-control" ng-bind="user.lastModifiedOn | date:'medium'"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">@UsersMessages.RegistrationDate</label>
            <div class="col-sm-10">
                <span class="form-control" ng-bind="user.registrationDate | date:'medium'"></span>
            </div>
        </div>
        <div class="form-group" ng-if="user.fullName">
            <label class="col-sm-2 control-label">@UsersMessages.FullName</label>
            <div class="col-sm-10">
                <span class="form-control" ng-bind="user.fullName"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">@UsersMessages.BirthDay</label>
            <div class="col-sm-10">
                <span class="form-control" ng-bind="user.birthday | date:'medium'"></span>
            </div>
        </div>
        <div class="form-group" ng-if="user.gender">
            <label class="col-sm-2 control-label">@UsersMessages.Gender</label>
            <div class="col-sm-10">
                <span class="form-control" ng-if="user.gender">@UsersMessages.Women</span>
                <span class="form-control" ng-if="!user.gender">@UsersMessages.Men</span>
            </div>
        </div>
    </form>
</div>

<script type="text/ng-template" id="changeRoleConfirmation.html">
    <div class="modal-header">
        <h3 class="modal-title">@CommonMessages.RoleEditing</h3>
    </div>
    <div class="modal-body">
        @CommonMessages.Change?
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">@CommonMessages.Change</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">@CommonMessages.Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="banConfirmation.html">
    <div class="modal-header">
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body">
        @UsersMessages.BanUserQuestion
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="ok()">@CommonMessages.Ban</button>
        <button type="button" class="btn btn-primary" ng-click="cancel()">@CommonMessages.Cancel</button>
    </div>
</script>