@using MyLiverpool.Business.Resources

@{
    ViewBag.Title = UsersMessages.PrivateMessages;
}

<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li class="active"><a  href="#received" data-toggle="tab">@UsersMessages.Received</a></li>
        <li><a href="#sent" data-toggle="tab">@UsersMessages.Sent</a></li>
    </ul>
<div class="tab-content">
    <div class="tab-pane active" id="received">
        <table class="table">
            <thead>
                <tr>
                    <td>#</td>
                    <td>@NewsMessages.Title</td>
                    <td>@NewsMessages.Author</td>
                    <td>@CommonMessages.ReceivedDate</td>
                </tr>
            </thead>
            <tbody>
            @*    @for (var i = 0; i < Model.ReceivedMessages.Count(); i++)*@
                {
                    <tr>
                        <td>i</td>
                        <td>
                            @*<a href="@Url.Action("ReadMessage", "User", new {id = Model.ReceivedMessages[i].Id})">
                                @if (!Model.ReceivedMessages[i].IsRead)
                                {
                                    <b>@Model.ReceivedMessages[i].Title</b>
                                }
                                else
                                {
                                    @Model.ReceivedMessages[i].Title
                                }
                            </a>*@
                        </td>
                      @*  <td><a href="@Url.Action("Profile", "User", new {id = Model.ReceivedMessages[i].SenderId})">@Model.ReceivedMessages[i].Sender.UserName</a></td>*@
                     @*   <td>@Model.ReceivedMessages[i].SentTime</td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
        <div class="tab-pane" id="sent">
            <table class="table">
                <thead>
                <tr>
                    <td>#</td>
                    <td>@NewsMessages.Title</td>
                    <td>@NewsMessages.Author</td>
                    <td>@CommonMessages.SentDate</td>
                </tr>
                </thead>
                <tbody>
                @*@for (var i = 0; i < Model.SentMessages.Count(); i++)*@
                {
                    <tr>
                        <td>i</td>
                        <td>
                            @*<a href="@Url.Action("ReadMessage", "User", new {id = Model.SentMessages[i].Id})">
                                @if (!Model.SentMessages[i].IsRead)
                                {
                                    <b>@Model.SentMessages[i].Title</b>
                                }
                                else
                                {
                                    @Model.SentMessages[i].Title
                                }
                            </a>*@
                        </td>
                        @*<td><a href="@Url.Action("Profile", "User", new {id = Model.SentMessages[i].SenderId})">@Model.SentMessages[i].Sender.UserName</a></td>*@
                        @*<td>@Model.SentMessages[i].SentTime</td>*@
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>