@using MyLiverpool.Business.Resources

@{
  
}

<div class="form-horizontal"> 
    <div class="form-group">
        <label class = "control-label col-md-2"> @ColonsMessages.Receiver</label>
        <div class="col-md-10">
            <input class = "form-control"  disabled = "disabled" value="{{ message.receiverUserName }}"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2"> @ColonsMessages.Title</label>
        <div class="col-md-10">
            <input class="form-control" disabled="disabled" value="{{ message.title }}" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2"> @ColonsMessages.Message</label>
        <div class="col-md-10">
            <textarea class="form-control" disabled="disabled" rows="4">{{ message.message }}</textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @*<a href="@Url.Action("WriteMessage","User", new { receiverId = Model.ReceiverId, answerTitle = Model.Title })">@CommonMessages.Answer</a>*@  
        </div>
    </div>
</div>