@using MyLiverpool.Business.Resources
@{
    ViewBag.Title = @CommonMessages.WriteMessage;
}
<h2>@CommonMessages.WriteMessage</h2>
<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="control-label col-md-2"> @ColonsMessages.Receiver</label>
        <div class="col-md-10">
            <input class="form-control" disabled="disabled" value="{{ $stateParams.userName }}" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2"> @ColonsMessages.Title</label>
        <div class="col-md-10">
            <input class="form-control" name="title" ng-model="message.title" validation="max_len:30|required"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2"> @ColonsMessages.Message</label>
        <div class="col-md-10">
            <textarea class="form-control" name="message" rows="4" ng-model="message.message" validation="max_len:500|required"> </textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" ng-click="sent()" class="btn btn-default">@CommonMessages.Send</button>
        </div>
    </div>
</form>






