@model Dictionary<MatchPersonType, List<GetMatchPersonListQuery.MatchPersonListDto>>

<div class="col-xs-12 container-row">
    <div class="col-xs-12 container-row">
        @if (Model[MatchPersonType.MainReferee].Any())
        {
            <div class="text-center">
                Главный судья:
                @Model[MatchPersonType.MainReferee][0].PersonName
            </div>
        }
        @if (Model[MatchPersonType.SubReferee].Any())
        {
            <div class="text-center">
                Помощники судьи:
                @for (var i = 0; i < Model[MatchPersonType.SubReferee].Count; i++)
                {
                    <span>
                        @Model[MatchPersonType.SubReferee][i].PersonName
                        @if (i < Model[MatchPersonType.SubReferee].Count - 1)
                        {
                            <span>, </span>
                        }
                    </span>
                }
            </div>
        }
        @if (Model[MatchPersonType.AdditionalReferee].Any())
        {
            <div class="text-center">
                Судьи ВАР:
                @for (var i = 0; i < Model[MatchPersonType.AdditionalReferee].Count; i++)
                {
                    <span *ngFor="let ref of assistantRef; let last = last;">
                        @Model[MatchPersonType.AdditionalReferee][i].PersonName
                        @if (i < Model[MatchPersonType.AdditionalReferee].Count - 1)
                        {
                            <span>, </span>
                        }
                    </span>
                }
            </div>
        }
        @if (Model[MatchPersonType.FourthReferee].Any())
        {
            <div class="text-center">Резервный судья: @Model[MatchPersonType.FourthReferee][0].PersonName</div>
        }
        <div class="col-xs-6 container-row">
            <i class="col-xs-12 container-row top10">
                Главный тренер:
            </i>
            @if (Model[MatchPersonType.Coach].Any())
            {
                <div class="col-xs-12 container-row">@Model[MatchPersonType.Coach][0].PersonName</div>
            }
            <i class="col-xs-12 container-row top10">
                Состав:
            </i>
            @foreach (var person in Model[MatchPersonType.Team])
            {
                <div class="col-xs-12 container-row">
                    @person.Number - @person.PersonName
                </div>
            }
            <i class="col-xs-12 container-row top10">
                Запасные:
            </i>
            @foreach (var person in Model[MatchPersonType.TeamBench])
            {
                <div class="col-xs-12 container-row">
                    @person.Number - @person.PersonName
                </div>
            }
            @if (Model[MatchPersonType.Ban].Any())
            {
                <div class="col-xs-12 container-row top10">
                    <i class="col-xs-12 container-row">Дисквалифицированы:</i>
                    @foreach (var person in Model[MatchPersonType.Ban])
                    {
                        <div class="col-xs-12 container-row">
                            @person.Number - @person.PersonName
                        </div>
                    }
                </div>
            }
            @if (Model[MatchPersonType.Injury].Any())
            {
                <div class="col-xs-12 container-row top10">
                    <i class="col-xs-12 container-row">Травмированы:</i>
                    @foreach (var person in Model[MatchPersonType.Injury])
                    {
                        <div class="col-xs-12 container-row">
                            @person.Number - @person.PersonName
                        </div>
                    }
                </div>
            }
        </div>
        <div class="col-xs-6 container-row text-right">
            <i class="col-xs-12 container-row top10">
                Главный тренер:
            </i>
            @if (Model[MatchPersonType.CompetitorCoach].Any())
            {
                <div class="col-xs-12 container-row" [textContent]="awayCoach?.personName">@Model[MatchPersonType.CompetitorCoach][0].PersonName</div>
            }   <i class="col-xs-12 container-row top10">
                Состав:
            </i>

            @foreach (var person in Model[MatchPersonType.Competitor])
            {
                <div class="col-xs-12 container-row">
                    @person.Number - @person.PersonName
                </div>
            }
            <i class="col-xs-12 container-row top10">
                Запасные:
            </i>
            @foreach (var person in Model[MatchPersonType.CompetitorBench])
            {
                <div class="col-xs-12 container-row">
                    @person.Number - @person.PersonName
                </div>
            }
            @if (Model[MatchPersonType.BanCompetitor].Any())
            {
                <div class="col-xs-12 container-row top10" *ngIf="awayBan.length > 0">
                    <i class="col-xs-12 container-row">Дисквалифицированы:</i>
                    @foreach (var person in Model[MatchPersonType.BanCompetitor])
                    {
                        <div class="col-xs-12 container-row">
                            @person.Number - @person.PersonName
                        </div>
                    }
                </div>
            }
            @if (Model[MatchPersonType.InjuryCompetitor].Any())
            {
                <div class="col-xs-12 container-row top10" *ngIf="awayInjury.length > 0">
                    <i class="col-xs-12 container-row">Травмированы:</i>
                    @foreach (var person in Model[MatchPersonType.InjuryCompetitor])
                    {
                        <div class="col-xs-12 container-row">
                            @person.Number - @person.PersonName
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>