@model IEnumerable<CommentDto>

<section class="col-xs-12 bg-maroon text-white">
    Последние комментарии:
    @for (var i = 0; i < Model.Count(); i++)
    {
        var textYellow = i % 2 == 0 ? "text-yellow" : "";
        var textDarkGold = i % 2 == 1 ? "text-darkgold" : "";
        var id = Model.ElementAt(i).MaterialId ?? Model.ElementAt(i).MatchId;
        <div class="col-xs-12 container-row">
            <a asp-action="Detail"
               asp-controller="User"
               asp-route-id="@Model.ElementAt(i).AuthorId"
               class="color-gold">@Model.ElementAt(i).AuthorUserName</a>: 
            @if (Model.ElementAt(i).MaterialId.HasValue)
               {
                <a asp-action="Detail"
                   asp-controller="Material"
                   asp-route-id="@Model.ElementAt(i).MaterialId.Value"
                   asp-fragment="com@(Model.ElementAt(i).Id)"
                   class="@textYellow @textDarkGold">@Model.ElementAt(i).Message</a>
               }
            @if (Model.ElementAt(i).MatchId.HasValue)
            {
                <a asp-action="Detail"
                   asp-controller="Match"
                   asp-route-id="@Model.ElementAt(i).MatchId.Value"
                   asp-fragment="com@(Model.ElementAt(i).Id)"
                   class="@textYellow @textDarkGold">@Model.ElementAt(i).Message</a>
            }
        </div>
    }
</section>