@using MyLiverpool.Business.Resources
<div>
    <h1 class="text-center">@CommonMessages.ChangePassword</h1>
    <div class="col-md-12">
        <form class="form-horizontal" name="changePassword" role="form">
            <div class="form-group">
                <label class="col-md-2  control-label">@ColonsMessages.OldPassword</label>
                <div class="col-md-10">
                    <input type="password" name="oldPassword" ng-model="changeForm.oldPassword" validation="min_len:6|required" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2  control-label">@ColonsMessages.NewPassword</label>
                <div class="col-md-10">
                    <input type="password" name="newPassword" ng-model="changeForm.newPassword" validation="min_len:6|required" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2  control-label">@ColonsMessages.PasswordConfirmation</label>
                <div class="col-md-10">
                    <input type="password" name="confirmPassword" ng-model="changeForm.confirmPassword" validation="required|match:changeForm.newPassword,@UsersMessages.NewPassword|min_len:6" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" ng-disabled="changePassword.$invalid" ng-click="change()" class="btn btn-default" value="@CommonMessages.Change"/>
                </div>
            </div>
        </form>
    </div>
</div>