@using MyLiverpool.Business.Resources
@{
    ViewBag.Title = CommonMessages.EnterToSite;
}

<h2>@CommonMessages.EnterToSite</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            <form class="form-horizontal" role="form" ng-submit="login()">
                <hr />
                <div class="form-group">
                    <label class="col-md-2 control-label" for="emailAddress">@ColonsMessages.UserName</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="email" id="emailAddress" placeholder="" ng-model="loginForm.userName" validation="required">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="password">@ColonsMessages.Password</label>
                    <div class="col-md-10">
                        <input type="password" class="form-control" name="password" id="password"  ng-model="loginForm.password" validation="required">
                    </div>
                </div>
                <div class="form-group">
                    <p class="text-danger col-md-offset-3" ng-if="loginForm.errorMessage">{{loginForm.errorMessage}}</p>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="@CommonMessages.Login" class="btn btn-default" />
                    </div>
                </div>
                @*  <p>
                 @Html.ActionLink("Register as a new user", "Register")
             </p>
            Enable this once you have account confirmation enabled for password reset functionality
                 <p>
                     @Html.ActionLink("Forgot your password?", "ForgotPassword")
                 </p>*@
                </form>
</section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
        @*    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })*@
        </section>
    </div>
</div>