@using MyLiverpool.Business.Resources

<div class="container-fluid" ng-init="vm.init()">
    <uib-tabset active="active">
        <uib-tab index="0" heading="@UsersMessages.Received">
            <table class="table">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>@ColonsMessages.Title</td>
                        <td>@ColonsMessages.Sender</td>
                        <td>@ColonsMessages.ReceivedDate</td>
                    </tr>
                </thead>
                <tbody ng-repeat="message in vm.received">
                    <tr>
                        <td ng-bind="$index + 1"></td>
                        <td>
                            <a ui-sref="pm({ id: message.id })">
                                <b ng-show="!message.isRead" ng-bind="message.title"></b>
                                <span ng-show="message.isRead" ng-bind="message.title"></span>
                            </a>
                        </td>
                        <td><a ui-sref="userInfo({id: message.senderId})" ng-bind="message.senderUserName"></a></td>
                        <td ng-bind="message.sentTime | date:'medium'"></td>
                    </tr>
                </tbody>
            </table>
        </uib-tab>
        <uib-tab index="1" heading="@UsersMessages.Sent">
            <table class="table">
                <thead>
                <tr>
                    <td>#</td>
                    <td>@ColonsMessages.Title</td>
                    <td>@ColonsMessages.Receiver</td>
                    <td>@ColonsMessages.SentDate</td>
                </tr>
                </thead>
                <tbody ng-repeat="message in vm.sent">
                <tr>
                    <td ng-bind="$index + 1"></td>
                    <td>
                        <a ui-sref="pm({ id: message.id })">
                            <b ng-show="!message.isRead" ng-bind="message.title"></b>
                            <span ng-show="message.isRead" ng-bind="message.title"></span>
                        </a>
                    </td>
                    <td><a ui-sref="userInfo({id: message.receiverId})" ng-bind="message.receiverUserName"></a></td>
                    <td ng-bind="message.sentTime | date:'medium'"></td>
                </tr>
                </tbody>
            </table>
        </uib-tab>
        <li class="uib-tab nav-item"><a ui-sref="wpm">@CommonMessages.WriteMessage</a></li>
    </uib-tabset>
</div>