@model MatchDto

@{
    ViewBag.Title = Model.HomeClubName + " - " + Model.AwayClubName;
    Layout = "_Layout";
}

@*<div class="col-xs-12 container-row" *ngIf="item">
   <div *ngIf="roles.isInformer">
        <button mat-raised-button color="warn" (click)="pin(item.id)">Закрепить на главной</button>
        <button mat-raised-button (click)="pin(0)">Открепить от главной</button>
        <button mat-raised-button [routerLink]="['./edit']">Изменить</button>
    </div>*@
    <div class="col-xs-12 text-center">
        <span class="timeConvert" data-date="@Model.DateTime" data-dow="true" data-sec="false"></span>, @Model.TypeName
    </div>
    <div class="col-xs-12 text-center bottom10">
        @Model.StadiumName, @Model.StadiumCity
    </div>
    <div class="col-xs-12 container-row flex-vertical-center">
        <div class="col-xs-4">
            <div class="full-width text-center">
                <img src="@Model.HomeClubLogo" alt="@Model.HomeClubName" title="@Model.HomeClubName" />
            </div>
            <div class="full-width text-center">
                <b class="font-size20">@Model.HomeClubName</b>
            </div>
        </div>
        <div class="col-xs-4 text-center">
            @if (!string.IsNullOrWhiteSpace(Model.ScoreHome))
            {
                <div class="col-xs-12 font-size40 container-row">
                    <b class="col-xs-5">@Model.ScoreHome</b>
                    <span class="col-xs-2 padding0">:</span>
                    <b class="col-xs-5">@Model.ScoreAway</b>
                    <!--<i class="font-size13">Серия пенальти:</i>-->
                    @if (Model.ScorePenaltyHome.HasValue && Model.ScorePenaltyHome.Value > 0 ||
                        Model.ScorePenaltyAway.HasValue && Model.ScorePenaltyAway.Value > 0)
                    {
                        <b>(@Model.ScorePenaltyHome-@Model.ScorePenaltyAway)</b>
                    }
                </div>
            }
            else
            {
                <ng-template #countDown>
                    <span [textContent]="countDown$ | async" class="font-size20 color-gold color-back-maroon padding10"></span>
                </ng-template>
            }
        </div>

        <div class="col-xs-4">
            <div class="full-width text-center">
                <img src="@Model.AwayClubLogo" alt="@Model.AwayClubName" title="@Model.AwayClubName" />
            </div>
            <div class="full-width text-center">
                <b class="font-size20">@Model.AwayClubName</b>
            </div>
        </div>
    </div>
<div class="col-xs-12 container-row clearfix">
    
    @await Component.InvokeAsync("MatchEventPanel", new { events= Model.Events, isHome = Model.HomeClubId == 1 })
    <matchEvent-match-panel [events]="item.events" [matchId]="item.id" [seasonId]="item.seasonId" [isHome]="item.homeClubId === 1"></matchEvent-match-panel>
    @await Component.InvokeAsync("MatchPersonPanel", new {matchId = Model.Id, isHome = Model.HomeClubId == 1})
</div>
    <div class="col-xs-12 container-row clearfix top10">
        @*<comment-section id="comments" [matchId]="item.id" [canCommentary]="true"></comment-section>*@
        <vc:comment-section match-id="@Model.Id"></vc:comment-section>
        @await Component.InvokeAsync("CommentSection", new { matchId = Model.Id })
             
    </div>
