@model List<MatchDto>

<section class="flex">
    @if (Model.Count > 1)
    {
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-primary flex padding0 border-panel border-lgray match-calendar">
            <div class="col-xs-12 col-md-5">
                Следующая игра
                @*<a *ngIf="roles.isInformer" [routerLink]="['/matches', next.id, 'edit']"><span class="glyphicon glyphicon-pencil color-red"></span></a>*@
            </div>
            <div class="col-xs-12 col-md-7">
                <b style="font-size: 1.2em;" class="pull-right timeConvert" data-date="@Model[1].DateTime.ToString("O")" data-dow="true" data-sec="false"></b>
            </div>
            <div class="col-xs-4 col-sm-12 col-md-5 text-center">
                <img src="@Model[1].HomeClubLogo" class="center" alt="@Model[1].HomeClubName" title="@Model[1].HomeClubName">
                <strong style="font-size: 1.2em;" class="">@Model[1].HomeClubName</strong>
            </div>
            <div class="col-xs-4 col-sm-12 col-md-2 padding0 text-center">
                <strong class="stadium center color-gold">@Model[1].StadiumName</strong>
            </div>
            <div class="col-xs-4 col-sm-12 col-md-5 text-center">
                <img src="@Model[1].AwayClubLogo" class="center" alt="@Model[1].AwayClubName" title="@Model[1].AwayClubName">
                <strong style="font-size: 1.2em;" class="text-center">@Model[1].AwayClubName</strong>
            </div>
            <div class="col-xs-12 text-center">
                @if (Model[1].PreviewId.HasValue)
                {
                    <a class="text-white" asp-action="@Model[1].PreviewId" asp-controller="News">Превью</a>
                }
                <a class="text-white" asp-action="Calendar" asp-controller="Seasons">Календарь</a>
                <a class="text-white"
                   asp-controller="Matches"
                   asp-action="Detail"
                   asp-route-id="@Model[1].Id">Обсуждение</a>
            </div>
        </div>
    }
    @if (Model.Any())
    {
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-light-blue flex padding0 border-panel border-lgray match-calendar">
            <div class="col-xs-12 col-sm-12 col-md-5">
                Последняя игра
                @*<a *ngIf="roles.isInformer" [routerLink]="['/matches', last.id, 'edit']"><span class="glyphicon glyphicon-pencil color-red"></span></a>*@
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7">
                <span class="pull-right timeConvert" data-date="@Model[0].DateTime.ToString("O")" data-dow="true" data-sec="false"></span>
            </div>
            <div class="col-xs-4 col-sm-12 col-md-12 col-lg-5 text-center">
                <img src="@Model[0].HomeClubLogo" class="center " alt="@Model[0].HomeClubName" title="@Model[0].HomeClubName">
                <strong style="font-size: 1.2em;">@Model[0].HomeClubName</strong>
            </div>
            <div class="col-xs-4 col-sm-12 col-md-12 col-lg-2 flex-vertical-center flex-center-h padding0">
               <a asp-action="Detail" asp-controller="Matches" asp-route-id="@Model[0].Id" class="score text-center">
                <strong class="text-center font-size20">
                    @Model[0].ScoreHome:@Model[0].ScoreAway
                    @if (Model[0].ScorePenaltyHome.HasValue && Model[0].ScorePenaltyHome.Value > 0 ||
                         Model[0].ScorePenaltyAway.HasValue && Model[0].ScorePenaltyAway.Value > 0)
                    {
                        <span class="col-md-12 container-row">(@Model[0].ScorePenaltyHome-@Model[0].ScorePenaltyAway)</span>
                    }
                </strong>
                </a>
            </div>
            <div class="col-xs-4 col-sm-12 col-md-12 col-lg-5 text-center">
                <img src="@Model[0].AwayClubLogo" class="center" alt="@Model[0].AwayClubName" title="@Model[0].AwayClubName">
                <strong style="font-size: 1.2em;">@Model[0].AwayClubName</strong>
            </div>
            <div class="col-xs-12 infodate">
                <br>
                @if (Model[1].PreviewId.HasValue)
                {
                    <a asp-action="@Model[1].PreviewId" asp-controller="News">Превью</a>
                }
                <a asp-controller="Matches"
                   asp-action="Detail"
                   asp-route-id="@Model[0].Id">Обсуждение</a>
                @if (!string.IsNullOrWhiteSpace(Model[0].PhotoUrl))
                {
                    <a asp-action="Detail" asp-controller="News" asp-route-id="@Model[0].PhotoUrl">Фото</a>
                }
                @if (!string.IsNullOrWhiteSpace(Model[0].VideoUrl))
                {
                    <a href="@Model[0].VideoUrl" target="_blank">Видео</a>
                }
            </div>
        </div>
    }
</section>