@model MyLfc.Application.Matches.GetMatchCalendarQuery.Response

<section class="flex">
    @if (Model.Next != null)
    {
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-primary flex padding0 border-panel border-lgray match-calendar">
            <div class="col-xs-12 col-md-5">
                Следующая игра
                @*<a *ngIf="roles.isInformer" [routerLink]="['/matches', next.id, 'edit']"><span class="glyphicon glyphicon-pencil color-red"></span></a>*@
            </div>
            <div class="col-xs-12 col-md-7">
                <b style="font-size: 1.2em;" class="pull-right timeConvert" data-date="@Model.Next.DateTime.ToString("O")" data-dow="true" data-sec="false"></b>
            </div>
            <div class="col-xs-4 col-sm-12 col-md-5 text-center">
                <img src="@Model.Next.HomeClubLogo" class="center" alt="@Model.Next.HomeClubName" title="@Model.Next.HomeClubName">
                <strong style="font-size: 1.2em;" class="">@Model.Next.HomeClubName</strong>
            </div>
            <div class="col-xs-4 col-sm-12 col-md-2 padding0 text-center">
                <strong class="stadium center color-gold">@Model.Next.StadiumName</strong>
            </div>
            <div class="col-xs-4 col-sm-12 col-md-5 text-center">
                <img src="@Model.Next.AwayClubLogo" class="center" alt="@Model.Next.AwayClubName" title="@Model.Next.AwayClubName">
                <strong style="font-size: 1.2em;" class="text-center">@Model.Next.AwayClubName</strong>
            </div>
            <div class="col-xs-12 text-center">
                @if (Model.Next.PreviewId.HasValue)
                {
                    <a class="text-white" 
                       asp-controller="News"
                       asp-action="Detail"
                       asp-route-id="@Model.Next.PreviewId.Value">Превью</a>
                }
                <a class="text-white" asp-action="Calendar" asp-controller="Seasons">Календарь</a>
                <a class="text-white"
                   asp-controller="Matches"
                   asp-action="Detail"
                   asp-route-id="@Model.Next.Id">Обсуждение</a>
            </div>
        </div>
    }
    @if (Model.Last != null)
    {
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-light-blue flex padding0 border-panel border-lgray match-calendar">
            <div class="col-xs-12 col-sm-12 col-md-5">
                Последняя игра
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7">
                <span class="pull-right timeConvert" data-date="@Model.Last.DateTime.ToString("O")" data-dow="true" data-sec="false"></span>
            </div>
            <div class="col-xs-4 col-sm-12 col-md-12 col-lg-5 text-center">
                <img src="@Model.Last.HomeClubLogo" class="center " alt="@Model.Last.HomeClubName" title="@Model.Last.HomeClubName">
                <strong style="font-size: 1.2em;">@Model.Last.HomeClubName</strong>
            </div>
            <div class="col-xs-4 col-sm-12 col-md-12 col-lg-2 flex-vertical-center flex-center-h padding0">
               <a asp-action="Detail" asp-controller="Matches" asp-route-id="@Model.Last.Id" class="score text-center">
                   <strong class="text-center font-size20">
                       @Model.Last.ScoreHome:@Model.Last.ScoreAway
                       @if (Model.Last.ScorePenaltyHome.HasValue && Model.Last.ScorePenaltyHome.Value > 0 ||
                          Model.Last.ScorePenaltyAway.HasValue && Model.Last.ScorePenaltyAway.Value > 0)
                       {
                       <span class="col-md-12 container-row">(@Model.Last.ScorePenaltyHome-@Model.Last.ScorePenaltyAway)</span>
                       }
                   </strong>
                </a>
            </div>
            <div class="col-xs-4 col-sm-12 col-md-12 col-lg-5 text-center">
                <img src="@Model.Last.AwayClubLogo" class="center" alt="@Model.Last.AwayClubName" title="@Model.Last.AwayClubName">
                <strong style="font-size: 1.2em;">@Model.Last.AwayClubName</strong>
            </div>
            <div class="col-xs-12 infodate">
                <br>
                @if (Model.Last.PreviewId.HasValue)
                {
                    <a asp-controller="News"
                       asp-action="Detail"
                       asp-route-id="@Model.Last.PreviewId.Value">Превью</a>
                }
                <a asp-controller="Matches"
                   asp-action="Detail"
                   asp-route-id="@Model.Last.Id">Обсуждение</a>
                @if (!string.IsNullOrWhiteSpace(Model.Last.PhotoUrl))
                {
                    <a asp-action="Detail"
                       asp-controller="News"
                       asp-route-id="@Model.Last.PhotoUrl">Фото</a>
                }
                @if (!string.IsNullOrWhiteSpace(Model.Last.VideoUrl))
                {
                    <a href="@Model.Last.VideoUrl" target="_blank">Видео</a>
                }
                @if (Model.Last.ReportId.HasValue)
                {
                    <a asp-action="Detail"
                       asp-controller="News"
                       asp-route-id="@Model.Last.ReportId.Value">Вердикт</a>
                }
            </div>
        </div>
    }
</section>