@using MyLiverpool.Helpers
@model MyLiverpoolSite.Data.DataAccessLayer.PageableData<MyLiverpoolSite.Business.ViewModels.Blogs.IndexMiniBlogVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.List.First().Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.List.First().BlogCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.List.First().CanCommentary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.List.First().AdditionTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.List.First().Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.List.First().Brief)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.List.First().Reads)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.List.First().Source)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.List.First().PhotoPath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.List.First().LastModified)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.List)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogCategory.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanCommentary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brief)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reads)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhotoPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModified)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<div class="pagination">         @Html.PageLinks(Model.PageNo, Model.CountPage, x => Url.Action("Index", new { page = x }))     </div>
