@model MyLfc.Application.Materials.GetMaterialDetailQuery.Response

@{
    ViewBag.Title = Model.Title;
    Layout = "_Layout";
}

<div class="flex-vertical-center material-header">
    <h3 class="col-xs-12 col-sm-12 container-row">
        <span class="beauty-font">@Model.Title</span>
    </h3>
</div>
<div class="col-xs-12 col-sm-12 container-row">
    @if (Model.UsePhotoInBody)
    {
        <img src="@Model.Photo" class="material-preview" alt="" style="height: auto; max-width: 100%"/>
        <!--todo move to css-->
        <br/>
        <i>@Html.Raw(Model.Brief)</i>
    }
    <article class="material-body">@Html.Raw(Model.Message)</article>
    <div class="alert-warning top10">
        <ul class="list-inline">
            <li><label>Просмотры:</label> @Model.Reads<span [textContent]="item.reads"></span></li>
            <li><label>Источник:</label> <a href="@Model.Source" target="_blank"> @Model.ShortLink</a></li>
            <li><label>Дата добавления:</label> <span class="timeConvert" data-date="@Model.AdditionTime.ToString("O")" data-dow="true" data-sec="false"></span></li>
            <li><label>Категория:</label>
                <a asp-action="Index"
                   asp-controller="@(Model.Type.ToString())"
                   asp-route-page="1"
                   asp-route-categoryId="@Model.CategoryId"> @Model.CategoryName</a></li>
            <li><label>Автор:</label>
                <a asp-action="Detail"
                   asp-controller="Users"
                   asp-route-id="@Model.UserId">@Model.UserName</a></li>
        </ul>
    </div>
</div>
<div class="container-row col-xs-12">
    @await Component.InvokeAsync("CommentSection", new {materialId = Model.Id})
</div>
@if (Model.SocialLinks)
{
    <script type="text/javascript" async src="https://platform.instagram.com/en_US/embeds.js"></script>
    <script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
}
