@using Microsoft.AspNet.Identity
@using MyLiverpoolSite.Business.ViewModels.Resources
@model MyLiverpoolSite.Business.ViewModels.Users.UserViewModel
@{
    ViewBag.Title = @Model.UserName;
}

<h2>@Model.UserName
    @if (User.Identity.GetUserId<int>() != Model.Id)
    {
        <a href="@Url.Action("WriteMessage", "User", new {receiverId = Model.Id})"><span class="glyphicon glyphicon-envelope"></span></a>
    }
</h2>

<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-2 control-label">@UsersMessages.UserName</label>
        <div class="col-sm-10">
            <span class="form-control">@Model.UserName</span>
@if (User.IsInRole("UsersStart"))
{
    <a data-toggle="modal" data-target="#confirmBan">@CommonMessages.Ban</a>
}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">@UsersMessages.Group</label>
        <div class="col-sm-10">
            @if (User.IsInRole("AdminFull"))
            {
                @Html.DropDownListFor(x => x.RoleGroupId, new SelectList(Model.RoleGroups, "Id", "RussianName", Model.RoleGroupId), new { @class = "form-control"})
            }
            else
            {
                <span class="form-control">@Model.RoleGroup.RussianName</span>
            }
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">@UsersMessages.LastLogin</label>
        <div class="col-sm-10">
            <span class="form-control">@Model.LastModified</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">@UsersMessages.RegistrationDate</label>
        <div class="col-sm-10">
            <span class="form-control">@Model.RegistrationDate</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">@UsersMessages.FullName</label>
        <div class="col-sm-10">
            <span class="form-control">@Model.FullName</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">@UsersMessages.BirthDay</label>
        <div class="col-sm-10">
            <span class="form-control">@Model.Birthday</span>
        </div>
    </div>
    @if (Model.Gender.HasValue)
    {
        <div class="form-group">
            <label class="col-sm-2 control-label">@UsersMessages.Gender</label>
            <div class="col-sm-10">
                <span class="form-control">@(Model.Gender.Value ? @UsersMessages.Women : @UsersMessages.Men)</span>
            </div>
        </div>
    }
</form>

<div class="modal fade" id="confirmChangeRole">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">@CommonMessages.RoleEditing</h4>
            </div>
            <div class="modal-body">
                <p>@CommonMessages.Change?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="cancelChangeRole">@CommonMessages.Cancel</button>
                <button type="button" class="btn btn-primary" id="changeRole">@CommonMessages.Change</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="confirmBan">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">@UsersMessages.BanUserQuestion</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-md-12 control-label">@UsersMessages.WhenWillUserBanEnd</label> 
                    <div class="col-md-9 input-group date">
                        <input class="form-control datepicker" />
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                </div>
                <h3>@Model.UserName</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="cancelBan">@CommonMessages.Cancel</button>
                <button type="button" class="btn btn-primary" id="applyBan">@CommonMessages.Ban</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    var previousId = @Model.RoleGroupId;
    $('#RoleGroupId').on('change', function() {
        console.log($('#RoleGroupId').val());
        $('#confirmChangeRole').modal();
    });
    $('#cancelChangeRole').on('click', function() {
        $('#RoleGroupId').val(previousId);
    });
    $('#changeRole').on('click', function() {
        var newRoleGroupId = $('#RoleGroupId').val();
        $.ajax({
            type: 'post',
            url: '@Url.Action("EditRoleGroup", "Role")',
            data: { newRoleGroupId: newRoleGroupId, userId: @Model.Id },
            beforeSend: function () {

            },
            success: function (response) {
             
                if (response) {
                    $('#').val('');
                    $('#confirmChangeRole').modal('hide');
                    console.log('finish');
                } else {
                    console.log("not delete");
                }
            }
        });
    });

    $('#applyBan').on('click', function() {
        console.log("ban buuton click");
        var userId = @Model.Id;
        var date = 1;
    });
</script>