@using MyLiverpool.Helpers
@using MyLiverpoolSite.Business.ViewModels.Resources
@model MyLiverpoolSite.Data.DataAccessLayer.PageableData<MyLiverpoolSite.Business.ViewModels.News.IndexMiniNewsVM>

@{
    ViewBag.Title = NewsMessages.News;
}

<div class="container-fluid">
    @foreach (var item in Model.List)
    {
        <div class="container-fluid">
            <div class="row">
                <a href="@Url.Action("Details", "News", new {id = item.Id})" class="col-md-9"><span>@Html.DisplayFor(modelItem => item.Title)</span></a>
                @if (Request.IsAuthenticated)
                {
                    <span class="col-md-3">
                        @if (item.Pending)
                        {
                            <a href="@Url.Action("Activate", new {id = item.Id})"><span class="glyphicon glyphicon-ok"></span></a>
                        }
                        <a href="@Url.Action("Edit", new {id = item.Id})"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a data-toggle="modal" data-target="#confirmDelete" data-id="@item.Id"><span class="glyphicon glyphicon-trash"></span></a>
                    </span>
                }
            </div>
            <div class="row">
                <img class="img-thumbnail" alt="" src="@item.PhotoPath" style="width: 300px; height: 140px;" />
            </div>
            <div class="row">
                <span><i> @Html.Raw(item.Brief)</i></span>
            </div>
            <ul class="list-inline">
                <li class="">@NewsMessages.NewsCategory</li>
                <li class=""><a href="@Url.Action("Index", "News", new {categoryId = item.NewsCategory.Id})">@Html.DisplayFor(modelItem => item.NewsCategory.Name)</a></li>
                <li class="">|</li>
                <li class="">@NewsMessages.AdditionTime</li>
                <li class="">@Html.DisplayFor(modelItem => item.AdditionTime)</li>
                <li class="">|</li>
                <li class="">@NewsMessages.Reads</li>
                <li class="">@Html.DisplayFor(modelItem => item.Reads)</li>
                <li class="">|</li>
                <li class="">@NewsMessages.Author</li>
                <li class="">@Html.DisplayFor(modelItem => item.Author.UserName)</li>
            </ul>
        </div>
    }
</div>
<div class="pagination">  @Html.PageLinks(Model.PageNo, Model.CountPage, x => Url.Action("Index", "News", new { page = x, categoryId = Request.QueryString["categoryId"] }))     </div>

<div class="modal fade" id="confirmDelete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <input hidden id="newsId" value="" />
                <h4 class="modal-title">@CommonMessages.DeleteConfirmation</h4>
            </div>
            <div class="modal-body">
                <p>@CommonMessages.Delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@CommonMessages.Cancel</button>
                <button type="button" class="btn btn-primary" id="delete">@CommonMessages.Delete</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $(document).ready(function () {
        $('#confirmDelete').on('shown.bs.modal', function (e) {
            console.log($(e.relatedTarget).attr('data-id'));
            var id = $(e.relatedTarget).attr('data-id');
            $('#newsId').val(id);
        });

        $('button#delete').on('click', function () {
            console.log('delete');
            deleteNews();
        });

        function deleteNews() {
            var newsId = $('#newsId').val();
            if (!newsId) {
                console.log("newsId null");
                return;
            }
            $.ajax({
                type: 'post',
                url: '@Url.Action("Delete", "News")',
                data: { id: newsId },
                beforeSend: function () {

                },
                success: function (response) {
                    $('#newsId').val('');
                    if (response) {
                        $('#newsId').val('');
                        console.log('finish');
                    } else {
                        console.log("not delete");
                    }
                    $('#confirmDelete').modal('hide');
                }
            });
        }
    });
</script>