@model MyLiverpoolSite.Business.ViewModels.Roles.RoleRoleGroupVM


<div class="container-fluid">
    <p>
        @* @Html.ActionLink(NewsMessages.NewsCreation, "Create")*@
    </p>
    @foreach (var item in Model.RoleGroups.List)
    {
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">@item.RussianName</div>
                <div class="col-md-9">
                    @* <select multiple>
    @Html.DropDownList("edit", new SelectList(Model.Roles, "Id", "Name"), string.Empty, new { @class = "select", autofocus = "", multiple = "multiple" })*@
                    @foreach (var role in item.Roles)
                    {
                        @role.Name<br/>
                    }
                    @* @Html.DropDownList("reviewers", new SelectList(Model.Users, "UserId", "FullName"), string.Empty, new { @class = "select", autofocus = "", multiple = "true", style = "width: 480px;" })
        @Html.DropDownList("edit-reviewers", new SelectList(Model.Users, "UserId", "FullName"), string.Empty, new { @class = "select", multiple = "true", style = "width: 480px;" })
    </div>                     *@
                    @* </select>*@
                </div>

                @*<a href="@Url.Action("Details", "News", new {id = item.Id})" class="col-md-9"><span>@Html.DisplayFor(modelItem => item.Title)</span></a>
                    @if (Request.IsAuthenticated)
                    {
                        <span class="col-md-3">
                            @if (item.Name)
                            {
                                <a href="@Url.Action("Activate", new {id = item.Id})"><span class="glyphicon glyphicon-ok"></span></a>
                            }
                            <a href="@Url.Action("Edit", new {id = item.Id})"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a data-toggle="modal" data-target="#confirmDelete" data-id="@item.Id"><span class="glyphicon glyphicon-trash"></span></a>
                        </span>
                    }*@
            </div>
            @*<div class="row">
                    <img class="img-thumbnail" alt="" src="@item.PhotoPath" style="width: 300px; height: 140px;" />
                </div>*@
            @*<div class="row">
                    <span><i> @Html.Raw(item.Brief)</i></span>
                </div>*@
            @*<ul class="list-inline">
                    <li class=""><a href="@Url.Action("Index", "News", new {categoryId = item.NewsCategory.Id})">@Html.DisplayFor(modelItem => item.NewsCategory.Name)</a></li>
                    <li class="">|</li>
                    <li class="">@Html.DisplayFor(modelItem => item.AdditionTime)</li>
                    <li class="">|</li>
                    <li class="">@Html.DisplayFor(modelItem => item.Reads)</li>
                    <li class="">|</li>
                    <li class="">@Html.DisplayFor(modelItem => item.Author.UserName)</li>
                </ul>*@
        </div>
        <hr />
    }
</div>
@*<div class="pagination">
    @Html.PageLinks(Model.RoleGroups.PageNo, Model.RoleGroups.TotalItems, x => Url.Action("Index", new { page = x, categoryId = Request.QueryString["categoryId"] }))   </div>*@  