@using MyLiverpoolSite.Business.ViewModels.NewsComments
@using MyLiverpoolSite.Business.ViewModels.Resources
@model MyLiverpoolSite.Business.ViewModels.News.IndexNewsViewModel
@{
    ViewBag.Title = Model.Title;
}

<div class="row-fluid">
    <div class="row-fluid">
        @Html.HiddenFor(model => model.Id)
        <h3 class="alert-danger">@Model.Title</h3>

        @Html.Raw(Model.Message)
        <span class="row alert-warning">
            @Html.DisplayNameFor(model => model.Reads)

            @Html.DisplayFor(model => model.Reads)

            @Html.DisplayNameFor(model => model.Source)

            @Html.DisplayFor(model => model.Source)

            @Html.DisplayNameFor(model => model.AdditionTime)

            @Html.DisplayFor(model => model.AdditionTime)

            @Html.DisplayNameFor(model => model.NewsCategory)

            @Html.DisplayFor(model => model.NewsCategory.Name)
        </span>
    </div>
    <section class="media-list" id="comments">
        @ShowTree(Model.Comments)
    </section>

    @if (User.Identity.IsAuthenticated && Model.CanCommentary)
    {
        <div>
            <textarea id="newsCommentMessage" class="col-md-7"></textarea>
            <br />
            <button class="btn" data-toggle="modal" data-target="#myModal" id="addComment"> @CommonMessages.Create</button>
        </div>
    }
</div>
@helper ShowTree(IEnumerable<IndexNewsCommentVM> comments)
        {
    foreach (var comment in comments)
    {
        <li class="media comment" >
            <a class="pull-left" href="#">
                <img class="media-object img-thumbnail" src="@comment.Author.PhotoPath" alt="@comment.Author.UserName">
            </a>
            <div class="media-body">
                <h4 class="media-heading">@Html.DisplayFor(c => comment.Author.UserName)</h4>
                @Html.HiddenFor(c => comment.Id)
                @Html.DisplayFor(c => comment.Message)
            </div>
            <br/>
            @if (User.Identity.IsAuthenticated && Model.CanCommentary)
            {
                <button class="btn" data-toggle="modal" data-target="#addReply">123</button>
            }
        </li>
        if (comment.Children.Any())
        {
            @ShowTree(comment.Children)
        }
    }
}

<div class="modal fade" id="addReply" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @* id="add-reply" tabindex="-1" style="width: 350px; margin: auto; margin-top: 300px; z-index: 999"*@
            <div class="modal-header">
                <h3 class="text-info">add reply</h3>
                <input id="parent-comment-id" value="" hidden=""/>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="edit-aim-comment-form">
                    <div class="control-group">
                        <label style="">comment</label>
                        <div class="controls">
                            <textarea id="add-reply-comment" data-val="true" data-val-regex="" data-val-regex-pattern="^[^<>]+$"
                                      data-val-required="enterComment" rows="5"
                                      style="margin-top: -21px; width: 519px;"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="add-reply-comment-submit" class="btn btn-primary" type="submit" aria-hidden="true" style="margin-right: 20px;">@CommonMessages.Create</button>
                <a href="#" class="cancel" data-dismiss="modal" style="">@CommonMessages.Cancel</a>
            </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
    @Html.ActionLink("Back to List", "Index")
</p>
            @Scripts.Render("~/bundles/jquery")
            <script>
                $('#addComment').click(function ()
                {
                    console.log('add comment');
                    postValues();
                });
                function postValues() {
                    var comment = $('#newsCommentMessage').val();
                    if (!comment) {
                        return;
                    }
                    var newsId = @Model.Id;
                    $.ajax({
                        type: 'post',
                        url: '@Url.Action("AddComment", "NewsComment")',
                        data: { comment: comment, newsId: newsId },
                        beforeSend: function() {
                            
                        },
                        success: function(response) {
                            $('#newsCommentMessage').val('');
                            publishComment(response, comment);
                        }
                    });
                }
                function publishComment(id, comment) {
                    console.log(id);
                    $('#comments').append("<div class='comment'> <input id='comment_Id' name='comment.Id' type='hidden' value=" + id + "> " + comment + "@User.Identity.Name <br> <button class='reply'>add reply </button></div>");
                }

                $('.reply').click(function() {
                    console.log('reply');
                    var comment = $(this).parent();
                    console.log(comment);
                    var id = comment.find(':first-child');
                    $('#parent-comment-id').val(id.val());
                    console.log(id.val());
                    showReplyWindow();
                });

                function showReplyWindow() {
                    $('#add-reply').show();
                }

                $('.cancel').click(function() {
                    $('#add-reply').hide();
                });

                $('#add-reply-comment-submit').click(function() {
                    console.log('add-reply-comment-submit click');
                    var comment = $('#add-reply-comment').val();
                    if (!comment) {
                        return;
                    }
                    var newsId = @Model.Id;
                    var parentId = $('#parent-comment-id').val();
                    console.log('add-reply-comment-submit click 2');
                    $.ajax({
                        type: 'post',
                        url: '@Url.Action("AddComment", "NewsComment")',
                        data: { comment: comment, newsId: newsId, parentId: parentId },
                        beforeSend: function() {

                            //     $('#quality-achievement-modal').modal('hide');
                        },
                        success: function(response) {
                            $('#add-reply-comment').val('');
                            $('#add-reply').hide();
                            publishComment(response, comment);
                        }
                    });
                });


            </script>
