@model MyLiverpoolSite.Business.ViewModels.News.IndexNewsViewModel
{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>IndexNewsViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsCategory.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CanCommentary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CanCommentary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brief)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brief)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reads)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reads)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Source)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModified)
        </dd>
       @foreach (var comment in Model.Comments)
       {
           <br/>
           @Html.DisplayFor(c => comment.Message); @Html.DisplayFor(c => comment.Author.UserName);
           }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
