@model MyLiverpoolSite.Business.ViewModels.News.IndexNewsViewModel
{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>IndexNewsViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsCategory.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CanCommentary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CanCommentary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brief)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brief)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reads)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reads)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Source)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModified)
        </dd>
        @foreach (var comment in Model.Comments)
        {
            <br />
            @Html.DisplayFor(c => comment.Message)
            ;
            @Html.DisplayFor(c => comment.Author.UserName)
            ;
        }
    </dl>
    @if(User.Identity.IsAuthenticated)
    {
        <div >
            <ul id="comments">
                
            </ul>
            <textarea id="newsCommentMessage"></textarea>
            <button id="addComment"> ADD</button>

        </div>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@Scripts.Render("~/bundles/jquery")
<script>
    $('#addComment').click(function ()
    {
        console.log();
        postValues();
    });
    function postValues() {
        var comment = $('#newsCommentMessage').val();
        var newsId = @Model.Id;
        // var qualityAchievement = $('#Aim_AimAchievementQuality_AimAchievementQualityId').val();
        $.ajax({
            type: 'post',
            url: '@Url.Action("AddParentComment", "NewsComment")',
            data: { comment: comment, newsId: newsId },
            beforeSend: function() {
                $('#newsCommentMessage').val('');
                //     $('#quality-achievement-modal').modal('hide');
            },
            success: function(response) {
                @*commentsListForAim('@Model.Id');
                $('#slider').slider('option', 'value', response.progress);
                $('#quality-achievement-button').hide();
                $('#aim-info').hide();
                $('#aim-achievement-quality').show();
                window.showMessageStripe("@AimResources.AimMarkedAsAchived");
                $(function () {
                    var nameAchievement = $('#Aim_AimAchievementQuality_AimAchievementQualityId option:selected').text();
                    $('#Aim_AimAchievementQuality_Name').val(nameAchievement);
                });
                $('#aim-achievement-quality').show();*@
                publishComment(response, comment);
            }
        });
    }
    function publishComment(id, comment) {
        console.log(id);
        $('#comments').append("<div class='comment'>" + comment  + "</div>");
    }


</script>
