@using MyLiverpool.Helpers
@model MyLiverpoolSite.Data.DataAccessLayer.PageableData<MyLiverpoolSite.Business.ViewModels.News.IndexMiniNewsVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="container-fluid">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    @foreach (var item in Model.List)
    {
        <div class="container-fluid">
            <div class="row">
                <a href="@Url.Action("Details", "News", new {id = item.Id})" class="col-md-9"><span>@Html.DisplayFor(modelItem => item.Title)</span></a>
                @if (Request.IsAuthenticated)
                {
                    <span class="col-md-3">
                        <a href="@Url.Action("Edit", new {id = item.Id})"><span class="glyphicon glyphicon-ok"></span></a>
                        <a href="@Url.Action("Edit", new {id = item.Id})"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="@Url.Action("Delete", new {id = item.Id})"><span class="glyphicon glyphicon-trash"></span></a>
                    </span>
                }
            </div>
            <div class="row">
                <img class="img-thumbnail" alt="" src="@item.PhotoPath" style="width: 300px; height: 140px;" />
            </div>
            <div class="row">
                <span> @Html.DisplayFor(modelItem => item.Brief)</span>
            </div>
            <div>
                <span class="col-md-3">@Html.DisplayFor(modelItem => item.NewsCategory.Name)</span>
                <span class="col-md-3">@Html.DisplayFor(modelItem => item.AdditionTime)</span>
                <span class="col-md-3">@Html.DisplayFor(modelItem => item.Reads)</span>
                <span class="col-md-3">@Html.DisplayFor(modelItem => item.Author.UserName)</span>
            </div>
        </div>
    }
</div>
<div class="pagination">         @Html.PageLinks(Model.PageNo, Model.CountPage, x => Url.Action("Index", new { page = x }))     </div>
