@using MyLiverpool.Business.Resources
<!DOCTYPE html>
<html lang="ru" ng-app="app" ng-controller="LandingPageController">
<head>
    @{
        ViewBag.Title = CommonMessages.Home;
    }
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @CommonMessages.SiteTitleAddress</title>
    @* <link rel="shortcut icon" type="image/x-icon" href="~/Content/favicon.ico" />*@


    @*<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">*@
    @Styles.Render("~/Content/css")

    @*<script src="~/Scripts/ru.js"></script>
    <script src="~/Scripts/jquery.wysibb.js"></script>
    <link rel="stylesheet" href="~/Content/theme/default/wbbtheme.css" />
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap-datepicker3.min.css" />

    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>*@


    <base href="/"/>
</head>
<body>

<div class="container-fluid navbar navbar-inverse navbar-fixed-top">
    <ul class="nav navbar-nav col-md-6 list-inline alert-danger">
        <li><a id="back-top" href="#" style="display: none;">@CommonMessages.Up</a></li>
        <li class="divider"></li>
        <li ng-if="loggedIn()">
            <a ui-sref="pms()"><span class="glyphicon glyphicon-envelope"></span> @CommonMessages.ReadPM</a>
        </li>
        <li class="divider"></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a ui-sref="login({ returnUrl: getReturnUrl() })" ng-if="!loggedIn()">@CommonMessages.Login</a>
        </li>
        <li>
            <a ui-sref="register" ng-if="!loggedIn()">@CommonMessages.Register</a>
        </li>
        <li>
            <a ng-click="logout()" ng-if="loggedIn()">@CommonMessages.Logout</a>
        </li>
        <li>
            <span class="label label-success" ng-if="loggedIn()">Logged In</span>
        </li>
    </ul>
</div>
<div class="container-fluid" style="margin-top: 50px">
    <header class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ui-sref="home" class = "navbar-brand">@CommonMessages.SiteTitleAddress</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a ui-sref="home">@CommonMessages.Home</a></li>
                @if (User.IsInRole("AdminFull"))
                {
                    @*<li> @Html.ActionLink(CommonMessages.Roles, "Index", "Role") </li>*@
                }
                <li> <a ui-sref="forum">@CommonMessages.Forum</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@CommonMessages.News<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="news">@CommonMessages.News</a></li>
                        <li ng-if="isNewsmaker()"><a ui-sref="newsEdit()">@CommonMessages.Create</a></li>
                        <li><a ui-sref="newsCategories()">@CommonMessages.Categories</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@CommonMessages.Blogs<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink(CommonMessages.Blogs, "Index", "Blog")</li>
                        @if (User.IsInRole("BlogsStart"))
                        {
                            <li>@*@Html.ActionLink(CommonMessages.Create, "Create", "Blog")*@</li>
                        }@*       <li>@Html.ActionLink(CommonMessages.Categories, "Categories", "Blog")</li>*@</ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@CommonMessages.Users <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="users">@CommonMessages.Users</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </header>
    <div class="body-content row">
        <div class="col-md-3">
            @*  @Html.Partial("_LeftSideBar")*@
        </div>
        <div class="col-md-6" style="background-color: #f5deb3">
            <div class="col-md-12">
                <uib-alert ng-repeat="alert in $root.alerts" dismiss-on-timeout="5000" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
                <div ui-view="containerMain"></div>
            </div>

        </div>
        <div class="col-md-3">
            @*  @Html.Partial("_RightSideBar")*@
        </div>
    </div>
    <hr/>
    <footer class="bottom container-fluid">
        <p>&copy; @DateTime.Now.Year - @CommonMessages.SiteTitleAddress</p>
    </footer>
</div>
@*<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular-cookies.min.js"></script>*@


@Scripts.Render("~/bundles/App")
<script>
    //$(document).ready(function () {
    //    var wbbOpt = {
    //        lang: "ru",
    //        traceTextarea: true
    //        //buttons: "bold,italic,underline,|,img,youtube,link,|,code,quote"
    //    }
    //    $(".editor").wysibb(wbbOpt);


    //    $('.select').select2();

    //});

    //$(document).ready(function () {
    //    $("#back-top").hide();
    //    $(function () {
    //        $(window).scroll(function () {
    //            if ($(this).scrollTop() > 100) {
    //                $('#back-top').fadeIn();
    //            } else {
    //                $('#back-top').fadeOut();
    //            }
    //        });
    //        $('#back-top a').click(function () {
    //            $('body,html').animate({
    //                scrollTop: 0
    //            }, 100);
    //            return false;
    //        });
    //    });
    //});


</script>
</body>
</html>
