@using MyLiverpool.Business.Resources

<div class="container-fluid">
    <uib-tabset active="active">
        <uib-tab index="0" heading="@UsersMessages.Received">
            <table class="table">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>@ColonsMessages.Title</td>
                        <td>@ColonsMessages.Sender</td>
                        <td>@ColonsMessages.ReceivedDate</td>
                    </tr>
                </thead>
                <tbody ng-repeat="message in received">
                    <tr>
                        <td>{{$index + 1}}</td>
                        <td>
                            <a ui-sref="pm({ id: message.id })">
                                <b ng-show="!message.isRead">{{ message.title }}</b>
                                <span ng-show="message.isRead">{{ message.title }}</span>
                            </a>
                        </td>
                        <td><a ui-sref="userInfo({id: message.senderId})">{{message.senderUserName}}</a></td>
                        <td>{{ message.sentTime | date:'medium' }}</td>
                    </tr>
                </tbody>
            </table>
        </uib-tab>
        <uib-tab index="1" heading="@UsersMessages.Sent">
            <table class="table">
                <thead>
                <tr>
                    <td>#</td>
                    <td>@ColonsMessages.Title</td>
                    <td>@ColonsMessages.Receiver</td>@*todo*@
                    <td>@ColonsMessages.SentDate</td>
                </tr>
                </thead>
                <tbody ng-repeat="message in sent">
                <tr>
                    <td>{{$index + 1}}</td>
                    <td>
                        <a ui-sref="pm({ id: message.id })">
                            <b ng-show="!message.isRead">{{ message.title }}</b>
                            <span ng-show="message.isRead">{{ message.title }}</span>
                        </a>
                    </td>
                    <td><a ui-sref="userInfo({id: message.receiverId})">{{message.receiverUserName}}</a></td>
                    <td>{{ message.sentTime | date:'medium' }}</td>
                </tr>
                </tbody>
            </table>
        </uib-tab>
        <li><a ui-sref="wpm">@CommonMessages.WriteMessage</a></li>
    </uib-tabset>
</div>