@using MyLiverpool.Helpers
@model MyLiverpoolSite.Business.ViewModels.Forum.ForumSubsectionVM

@{

}

<h2></h2>
<div class="container-fluid">
    <div class="panel panel-danger">
        <div class="panel-heading">@Model.Name <span>@Model.Description</span></div>
        @*   <div class="panel-body"></div>*@
        <ul class="list-group">
            @foreach (var item in Model.Themes.List)
            {
                <li class="list-group-item list">
                    <span><a href="@Url.Action("IndexTheme", new {Id = item.Id})">@item.Name</a></span>
                    <br>
                    <span>@item.Description</span>
                    <br>
                </li>
            }
        </ul>
    </div>
                    <div class="pagination"> @Html.PageLinks(Model.Themes.PageNo, Model.Themes.CountPage, x => Url.Action("IndexSubsection", new { id = Model.Id, page = x })) </div>
</div>
