@model PageableData<MaterialMiniDto>

@{
    ViewBag.Title = "Новости";
  //  Layout = "_Layout";
}

@await Component.InvokeAsync("MatchPanel")

<div>
    @foreach (var item in Model.List)
    {
        if(!item.Pending || User.IsInRole(nameof(RolesEnum.NewsStart)) || User.IsInRole(nameof(RolesEnum.BlogStart)) @*todo || User?.GetUserId() == item.UserId *@)
         {
             <div class="padding10">
                 <div class="row flex border-left-maroon" [class.material-pending]="item.pending">
                     <div class="flex-vertical-center material-header col-xs-12">
                         <a asp-action="Detail"
                            asp-controller="Material" 
                            asp-route-id="@item.Id">
                             <h3 class="beauty-font">@item.Title</h3>
                         </a>
                         <span class="pull-right">
                             @if (User.IsInRole(nameof(RolesEnum.NewsFull)) @*todo || User?.GetUserId() == item.UserId *@)
                             {
                                 <span>
                                     @if (item.Pending && User.IsInRole(nameof(RolesEnum.NewsFull)))
                                     {
                                         <a role="button" (click)="showActivateModal(i)"><span class="glyphicon glyphicon-ok"></span></a>
                                     }
                                     <a [routerLink]="['/', item.typeName, item.id, 'edit']"><span class="glyphicon glyphicon-pencil"></span></a>
                                     <a role="button" (click)="showDeleteModal(i)"><span class="glyphicon glyphicon-trash"></span></a>
                                 </span>
                             }

                         </span>
                     </div>
                     <div class="col-xs-6 col-sm-12 col-md-12 col-lg-6">
                         <img class="img-thumbnail news-mini center-block" alt="@item.Title" src="@item.Photo"/>
                     </div>
                     <div class="col-xs-6 col-sm-12 col-md-12 col-lg-6 flex-vertical-center">
                         <i class="">@Html.Raw(item.Brief)</i>
                     </div>
                     <div class="col-xs-12 col-sm-12 material-info-panel">
                         <ul class="list-inline small small-offset">
                             <li class="">Категория:</li>
                             <li class="">
                                 <a asp-action="Index"
                                    asp-controller="Home"
                                    asp-route-page="1"
                                    asp-route-categoryId="@item.CategoryId"
                                    class="">
                                     @item.CategoryName
                                 </a>
                             </li>
                             <li class="">|</li>
                             <li class="">Время добавления:</li>
                             <li class="timeConvert" data-date="@item.AdditionTime.ToString("O")" data-dow="true" data-sec="false"></li>
                             <li class="">|</li>
                             <li class="">Просмотры:</li>
                             <li class="">@item.Reads</li>
                             <li class="">|</li>
                             <li class="">Автор:</li>
                             <li class=""><a asp-action="Detail"
                                             asp-controller="User"
                                             asp-route-id="@item.UserId">@item.UserName</a></li>
                             @if (item.CanCommentary)
                             {
                                 <li class="">@*| Комментарии: @item.CommentsCount*@</li>
                                <li class="">| Комментарии: <a asp-action="Detail" asp-controller="Material" asp-route-id="@item.Id" asp-fragment="comments">@item.CommentsCount</a></li>
                             }
                         </ul>
                     </div>
                 </div>
             </div>
         }
    }
    @{
        var prevDisabled = Model.PageNo == 1 ? "disabled" : "";
        var nextDisabled = Model.PageNo == Model.TotalPages ? "disabled" : "";
    }

    <a asp-action="Index"
       asp-controller="Material"
       asp-route-page="@(Model.PageNo - 1)"
       class="btn btn-default @prevDisabled">
        Предыдущая
    </a>
    <a asp-action="Index"
       asp-controller="Material"
       asp-route-page="@(Model.PageNo + 1)"
       class="btn btn-default @nextDisabled">
        Следующая
    </a>
</div>
