@model MaterialDto

@{
    ViewBag.Title = Model.Title;
    Layout = "_Layout";
}

<div class="flex-vertical-center material-header">
    <h3 class="col-xs-12 col-sm-12 container-row">
        <span class="beauty-font">@Model.Title</span>@*todo ngIf = " roles.isSelf(item.userId)"*@
        @if (User.IsInRole(nameof(RolesEnum.NewsFull)))
            {
            <span class="pull-right">
                <a role="button" *ngIf="item.pending && roles.isEditor" (click)="showActivateModal(i)"><span class="glyphicon glyphicon-ok"></span></a>
                <a [routerLink]="['./edit']"><span class="glyphicon glyphicon-pencil"></span></a>
                <a role="button" (click)="showDeleteModal(i)"><span class="glyphicon glyphicon-trash"></span></a>
            </span>
        }
    </h3>
</div>
<div class="col-xs-12 col-sm-12 container-row">
    <article class="material-body">@Html.Raw(Model.Message)</article>
    <div class="alert-warning top10">
        <ul class="list-inline">
            <li><label>Просмотры:</label> @Model.Reads<span [textContent]="item.reads"></span></li>
            @if (!string.IsNullOrWhiteSpace(Model.Source))
            {
                @* todo <li *ngIf="item.source"><label>Источник:</label> <a [href]="sanitizeByUrl(item.source)" target="_blank" [textContent]="getShortLink(item.source)"></a></li>*@

            }
            <li><label>Дата добавления:</label> @Model.AdditionTime.ToString("G")</li>
            <li><label>Категория:</label> <a asp-action="Index"
                                             asp-controller="Material"
                                             asp-route-page="1"
                                             asp-route-categoryId="@Model.CategoryId"> @Model.CategoryName</a></li>
            <li><label>Автор:</label> <a asp-action="Detail"
                                         asp-controller="User"
                                         asp-route-id="@Model.UserId">@Model.UserName</a></li>
        </ul>
    </div>
</div>
<div class="col-xs-12 flex-space-around">
    <span class="col-xs-12">К другим новостям: </span>
    @if (Model.PrevMaterialId.HasValue)
    {
        <a href="@Url.Action("Detail", new { id = Model.PrevMaterialId})">@Model.PrevMaterialTitle (назад)</a>
    }
    @if (Model.NextMaterialId.HasValue)
    {
        <a href="@Url.Action("Detail", new { id = Model.NextMaterialId})">@Model.NextMaterialTitle (вперед)</a>
    }
</div>
@await Component.InvokeAsync("CommentSection", new { materialId = Model.Id })
@*<comment-section id="comments" [materialId]="item.id" [type]="item.type" [canCommentary]="item.canCommentary"></comment-section>*@