@model MaterialDto

@{
    ViewBag.Title = Model.Title;
    Layout = "_Layout";
}

<div class="flex-vertical-center material-header">
    <h3 class="col-xs-12 col-sm-12 container-row">
        <span class="beauty-font">@Model.Title</span>@*todo ngIf = " roles.isSelf(item.userId)"*@
        @if (User.IsInRole(nameof(RolesEnum.NewsFull)))
            {
            <span class="pull-right">
                <a role="button" *ngIf="item.pending && roles.isEditor" (click)="showActivateModal(i)"><span class="glyphicon glyphicon-ok"></span></a>
                <a [routerLink]="['./edit']"><span class="glyphicon glyphicon-pencil"></span></a>
                <a role="button" (click)="showDeleteModal(i)"><span class="glyphicon glyphicon-trash"></span></a>
            </span>
        }
    </h3>
</div>
<div class="col-xs-12 col-sm-12 container-row">
    <article class="material-body">@Html.Raw(Model.Message)</article>
    <div class="alert-warning top10">
        <ul class="list-inline">
            <li><label>Просмотры:</label> @Model.Reads<span [textContent]="item.reads"></span></li>
            @if (!string.IsNullOrWhiteSpace(Model.Source) && Uri.IsWellFormedUriString(Model.Source, UriKind.RelativeOrAbsolute))
            {
                if (Uri.TryCreate(Model.Source, UriKind.Absolute, out var uri))
                {
                    <li><label>Источник:</label> <a href="@Model.Source" target="_blank"> @(uri.Host)</a></li>
                }
            }
            <li><label>Дата добавления:</label> <span class="timeConvert" data-date="@Model.AdditionTime.ToString("O")" data-dow="true" data-sec="false"></span></li>
            <li><label>Категория:</label> <a asp-action="Index"
                                             asp-controller="Material"
                                             asp-route-page="1"
                                             asp-route-categoryId="@Model.CategoryId"> @Model.CategoryName</a></li>
            <li><label>Автор:</label> <a asp-action="Detail"
                                         asp-controller="User"
                                         asp-route-id="@Model.UserId">@Model.UserName</a></li>
        </ul>
    </div>
</div>
<div class="col-xs-12 flex-space-around">
    <span class="col-xs-12">К другим новостям: </span>
    @if (Model.PrevMaterialId.HasValue)
    {
        <a asp-action="Detail" asp-route-id="@Model.PrevMaterialId">@Model.PrevMaterialTitle (назад)</a>
    }
    @if (Model.NextMaterialId.HasValue)
    {
        <a asp-action="Detail" asp-route-id="@Model.NextMaterialId">@Model.NextMaterialTitle (вперед)</a>
    }
</div>
<environment names="Staging,Production">
    <div class="col-xs-12">
        <div id="yandex_rtb_R-A-255349-1"></div>
        <script type="text/javascript">
            (function (w, d, n, s, t) {
                w[n] = w[n] || [];
                w[n].push(function () {
                    Ya.Context.AdvManager.render({
                        blockId: "R-A-255349-1",
                        renderTo: "yandex_rtb_R-A-255349-1",
                        async: true
                    });
                });
                t = d.getElementsByTagName("script")[0];
                s = d.createElement("script");
                s.type = "text/javascript";
                s.src = "//an.yandex.ru/system/context.js";
                s.async = true;
                t.parentNode.insertBefore(s, t);
            })(this, this.document, "yandexContextAsyncCallbacks");
        </script>
    </div>
</environment>
<div class="container-row col-xs-12">
    @await Component.InvokeAsync("CommentSection", new {materialId = Model.Id})
</div>
@*<comment-section id="comments" [materialId]="item.id" [type]="item.type" [canCommentary]="item.canCommentary"></comment-section>*@