@model Dictionary<MatchPersonPlaceType, List<MyLfc.Application.Matches.GetMatchPersonListQuery.MatchPersonListDto>>

<div class="col-xs-12 container-row">
    <div class="col-xs-12 container-row">
        @if (Model[MatchPersonPlaceType.MainRef].Any())
        {
            <div class="text-center">
                Главный судья:
                @Model[MatchPersonPlaceType.MainRef][0].PersonName
            </div>
        }
        @if (Model[MatchPersonPlaceType.AssistantRef].Any())
        {
            <div class="text-center">
                Помощники судьи:
                @for (var i = 0; i < Model[MatchPersonPlaceType.AssistantRef].Count; i++)
                {
                    <span>
                        @Model[MatchPersonPlaceType.AssistantRef][i].PersonName
                        @if (i < Model[MatchPersonPlaceType.AssistantRef].Count - 1)
                        {
                            <span>, </span>
                        }
                    </span>
                }
            </div>
        }
        @if (Model[MatchPersonPlaceType.AdditionalRef].Any())
        {
            <div class="text-center">
                Дополнительные судьи:
                @for (var i = 0; i < Model[MatchPersonPlaceType.AdditionalRef].Count; i++)
                {
                    <span *ngFor="let ref of assistantRef; let last = last;">
                        @Model[MatchPersonPlaceType.AdditionalRef][i].PersonName
                        @if (i < Model[MatchPersonPlaceType.AdditionalRef].Count - 1)
                        {
                            <span>, </span>
                        }
                    </span>
                }
            </div>
        }
        @if (Model[MatchPersonPlaceType.FourthRef].Any())
        {
            <div class="text-center">Резервный судья: @Model[MatchPersonPlaceType.FourthRef][0].PersonName</div>
        }
        <div class="col-xs-6 container-row">
            <i class="col-xs-12 container-row top10">
                Главный тренер:
            </i>
            @if (Model[MatchPersonPlaceType.HomeCoach].Any())
            {
                <div class="col-xs-12 container-row">@Model[MatchPersonPlaceType.HomeCoach][0].PersonName</div>
            }
            <i class="col-xs-12 container-row top10">
                Состав:
            </i>
            @foreach (var person in Model[MatchPersonPlaceType.HomeTeam])
            {
                <div class="col-xs-12 container-row">
                    @person.Number - @person.PersonName
                </div>
            }
            <i class="col-xs-12 container-row top10">
                Запасные:
            </i>
            @foreach (var person in Model[MatchPersonPlaceType.HomeBench])
            {
                <div class="col-xs-12 container-row">
                    @person.Number - @person.PersonName
                </div>
            }
            @if (Model[MatchPersonPlaceType.HomeBan].Any())
            {
                <div class="col-xs-12 container-row top10">
                    <i class="col-xs-12 container-row">Дисквалифицированы:</i>
                    @foreach (var person in Model[MatchPersonPlaceType.HomeBench])
                    {
                        <div class="col-xs-12 container-row">
                            @person.Number - @person.PersonName
                        </div>
                    }
                </div>
            }
            @if (Model[MatchPersonPlaceType.HomeInjury].Any())
            {
                <div class="col-xs-12 container-row top10">
                    <i class="col-xs-12 container-row">Травмированы:</i>
                    @foreach (var person in Model[MatchPersonPlaceType.HomeInjury])
                    {
                        <div class="col-xs-12 container-row">
                            @person.Number - @person.PersonName
                        </div>
                    }
                </div>
            }
        </div>
        <div class="col-xs-6 container-row text-right">
            <i class="col-xs-12 container-row top10">
                Главный тренер:
            </i>
            @if (Model[MatchPersonPlaceType.AwayCoach].Any())
            {
                <div class="col-xs-12 container-row" [textContent]="awayCoach?.personName">@Model[MatchPersonPlaceType.AwayCoach][0].PersonName</div>
            }   <i class="col-xs-12 container-row top10">
                Состав:
            </i>

            @foreach (var person in Model[MatchPersonPlaceType.AwayTeam])
            {
                <div class="col-xs-12 container-row">
                    @person.Number - @person.PersonName
                </div>
            }
            <i class="col-xs-12 container-row top10">
                Запасные:
            </i>
            @foreach (var person in Model[MatchPersonPlaceType.AwayBench])
            {
                <div class="col-xs-12 container-row">
                    @person.Number - @person.PersonName
                </div>
            }
            @if (Model[MatchPersonPlaceType.AwayBan].Any())
            {
                <div class="col-xs-12 container-row top10" *ngIf="awayBan.length > 0">
                    <i class="col-xs-12 container-row">Дисквалифицированы:</i>
                    @foreach (var person in Model[MatchPersonPlaceType.AwayBan])
                    {
                        <div class="col-xs-12 container-row">
                            @person.Number - @person.PersonName
                        </div>
                    }
                </div>
            }
            @if (Model[MatchPersonPlaceType.AwayInjury].Any())
            {
                <div class="col-xs-12 container-row top10" *ngIf="awayInjury.length > 0">
                    <i class="col-xs-12 container-row">Травмированы:</i>
                    @foreach (var person in Model[MatchPersonPlaceType.AwayInjury])
                    {
                        <div class="col-xs-12 container-row">
                            @person.Number - @person.PersonName
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>