@using MyLiverpoolSite.Business.ViewModels.Resources
@model MyLiverpoolSite.Business.ViewModels.Account.RegisterViewModel
@{
    ViewBag.Title = CommonMessages.Registration;
}

<h2>@CommonMessages.Registration</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4></h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @type="email" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FullName, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FullName, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.BirthDay, new { @class = "col-md-2 control-label" })
        <div class="col-md-9 input-group date">
            @Html.TextBoxFor(m => m.BirthDay, new { @class = "form-control datepicker" })
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="@CommonMessages.Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            language: 'ru'
        });

        $('#UserName').on('keyup', function() {
            var userName = $(this).val();
            if (userName.length < 3) return;
            delay(function () {
                $.ajax({
                    type: 'post',
                    url: '@Url.Action("IsUserNameUnique", "Account")',
                    data: { userName: userName },
                    beforeSend: function() {

                    },
                    success: function(response) {
                        if (response) {
                            $('#UserName').toggleClass('input-validation-error');
                            console.log('good name');
                        } else {
                            $('#UserName').toggleClass('input-validation-error');
                            console.log("not good name");
                        }
                    }
                });
            }, 3000);
        });

        $('#Email').on('keyup', function () {
            var email = $(this).val();
            delay(function()
            {
                $.ajax({
                    type: 'post',
                    url: '@Url.Action("IsEmailUnique", "Account")',
                    data: { email: email },
                    beforeSend: function () {

                    },
                    success: function (response) {
                        if (response) {
                            $('#Email').toggleClass('input-validation-error');
                            console.log('good email');
                        } else {
                            $('#Email').toggleClass('input-validation-error');
                            console.log("not good email");
                        }
                    }
                });
            }, 3000);
        });
         
        var delay = (function () {
            var timer = 0;
            return function (callback, ms) {
                clearTimeout(timer);
                timer = setTimeout(callback, ms);
            };
        })();
    </script>
}
