@using MyLiverpool.Business.Resources

<div class="" ng-init="init()">
    <div class="row">
        <h3 class="alert-danger container col-md-12">
            {{ item.title }}
            <span class="col-md-3 alert-danger pull-right" ng-if="isNewsmaker()">
                <span class="small pull-right" ng-show="isUserAuthor(userId(), item.authorId)">
                    <a ng-if="isEditor()" ng-show="item.pending" ng-click="activate()"><span class="glyphicon glyphicon-ok"></span></a>
                    <a ng-if="isEditor() || isUserAuthor(userId(), item.authorId)" ui-sref="newsEdit({id: item.id})"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a ng-if="isEditor() || isUserAuthor(userId(), item.authorId)" ng-click="delete()"><span class="glyphicon glyphicon-trash"></span></a>
                </span>
            </span>
        </h3>
    </div>
    <div class="row-fluid">
        <article ng-bind-html="item.message | rawHtml"></article>
        <div class="row-fluid alert-warning">
            <ul class="list-inline">
                <li><label>@ColonsMessages.Reads</label> {{ item.reads }}</li>
                <li><label>@ColonsMessages.Source</label> {{ item.source }}</li>
                <li><label>@ColonsMessages.AdditionTime</label> {{ item.additionTime | date:'medium' }}</li>
                <li><label>@ColonsMessages.Category</label> <a ui-sref="news({page: 1, categoryId: item.newsCategoryId})"> {{ item.newsCategoryName }} </a></li>
            </ul>
        </div>
    </div>

    @ColonsMessages.CommentsCount {{item.commentsCount}}

    <div ng-repeat="comment in item.comments">
        <tree comment="comment" deep="0"></tree>
    </div>

    <form class="form-horizontal" name="commentForm" role="form">
        <div class="col-md-12" ng-if="item.canCommentary" ng-show="loggedIn()">
            <div class="col-md-12">
                <textarea mark-it-up class="col-md-offset-2 col-md-8" rows="6" name="message" ng-model="newComment.message" validation="required"></textarea>
            </div>
            <div class="row">
                <button class="btn btn-primary center-block" data-toggle="modal" ng-disabled="commentForm.$invalid" ng-click="addComment()" data-target="#myModal" id="addComment"> @CommonMessages.Create</button>
            </div>
        </div>
    </form>
</div>

<script type="text/ng-template" id="modalDeleteConfirmation.html">
    <div class="modal-header">
        <h3 class="modal-title">@CommonMessages.DeleteConfirmation</h3>
    </div>
    <div class="modal-body">
        @CommonMessages.Delete?
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">@CommonMessages.Delete</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">@CommonMessages.Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="modalEditComment.html">
    <div class="modal-header">
        <h3 class="modal-title">@CommonMessages.EditingComment</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="editCommentForm" role="form">
            <textarea mark-it-up class="col-md-offset-3 col-md-6" rows="6" name="message" ng-model="editingComment.message" validation="required"></textarea>
            <textarea mark-it-up ng-if="isModerator()" class="col-md-offset-3 col-md-6" rows="6" name="answer" ng-model="editingComment.answer"></textarea>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-disabled="editCommentForm.$invalid" ng-click="ok()">@CommonMessages.Save</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">@CommonMessages.Cancel</button>
    </div>
</script>

@*<div class="modal fade" id="addReply" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @* id="add-reply" tabindex="-1" style="width: 350px; margin: auto; margin-top: 300px; z-index: 999"
            <div class="modal-header">
                <h3 class="text-info">add reply</h3>
                <input id="parent-comment-id" value="" hidden="" />
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="edit-aim-comment-form">
                    <div class="control-group">
                        <label style="">comment</label>
                        <div class="controls">
                            <textarea class="editor" id="add-reply-comment" data-val="true" data-val-regex="" data-val-regex-pattern="^[^<>]+$"
                                      data-val-required="enterComment" rows="5"
                                      style="margin-top: -21px; width: 519px;"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="add-reply-comment-submit" class="btn btn-primary" type="submit" aria-hidden="true" style="margin-right: 20px;">@CommonMessages.Create</button>
                <a href="#" class="cancel" data-dismiss="modal" style="">@CommonMessages.Cancel</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmDeleteNews">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <input hidden id="newsId" value="" />
                <h4 class="modal-title">@CommonMessages.DeleteConfirmation</h4>
            </div>
            <div class="modal-body">
                <p>@CommonMessages.Delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@CommonMessages.Cancel</button>
                <button type="button" class="btn btn-primary" id="deleteNews">@CommonMessages.Delete</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
        function publishComment(id, comment) {
            console.log(id);
            //"<div class='comment'> <input id='comment_Id' name='comment.Id' type='hidden' value=" + id + "> " + comment + "@User.Identity.Name <br> <button class='reply'>add reply </button></div>");

            $('#comments').append("<li class='media comment'><a class='pull-left' href='#'><img class='media-object img-thumbnail' src='@User.Identity.Name' alt='comment.Author.UserName'></a><div class='media-body'><h4 class='media-heading'>@User.Identity.Name</h4><input id='comment_Id' name='comment.Id' type='hidden' value" + id + "> " + comment + "</div><br/><button class='btn' data-toggle='modal' data-target='#addReply'>@CommonMessages.Reply</button></li>");
            hideReplyWindow();
        }

        $('.reply-button').click(function() {
            console.log('reply');
            var comment = $(this).parent();
            console.log(comment);
            var id = comment.find(':first-child');
            console.log(id.val());
            $('#parent-comment-id').val(id.val());
        });

        function hideReplyWindow() {
            $('#add-reply-comment').htmlcode('');
            $('#parent-comment-id').val('');
            $('#addReply').modal('hide');
        }

        $('.cancel').click(function() {
            hideReplyWindow();
        });

        $('#add-reply-comment-submit').click(function() {
            console.log('add-reply-comment-submit click');
            var comment = $('#add-reply-comment').htmlcode();
            console.log(comment);
            if (!comment) {
                return;
            }

            var newsId = @Model.Id;
            var parentId = $('#parent-comment-id').val();
            console.log(parentId);
            console.log('add-reply-comment-submit click 2');
            $.ajax({
                type: 'post',
                url: '@Url.Action("AddComment", "News")',
                data: { comment: comment, newsId: newsId, parentId: parentId },
                beforeSend: function() {

                    //     $('#quality-achievement-modal').modal('hide');
                },
                success: function(response) {
                    console.log('response start');
                    publishComment(response, comment);
                    console.log('response end');
                }
            });
        });

        $('#confirmDeleteComment').on('shown.bs.modal', function(e) {
            console.log('confirmDeleteComment');
            var id = $(e.relatedTarget).closest('li').attr('data-id');
            $('#commentId').val(id);
        });

        $('button#deleteComment').on('click', function() {
            console.log('delete');
            deleteComment();
        });

        function deleteComment() {
            console.log('deleteComment');
            var commentId = $('#commentId').val();
            if (!commentId) {
                console.log("commentId null");
                return;
            }
            $.ajax({
                type: 'post',
                url: '@Url.Action("DeleteComment", "News")',
                data: { id: commentId },
                beforeSend: function() {

                },
                success: function(response) {
                    $('#commentId').val('');
                    if (response) {
                        $('#commentId').val('');
                        $("li[data-id='"+ commentId +"']").remove();
                        console.log('finish');
                    } else {
                        console.log("not delete");
                    }
                    $('#confirmDeleteComment').modal('hide');
                }
            });
        };
    </script>*@
