@using MyLiverpool.Business.Resources

<div class="" ng-init="init()">
    <div class="row">
        <h3 class="alert-danger container col-md-12">
            {{ item.title }}
            <span class="col-md-3 alert-danger pull-right" ng-if="isNewsmaker()">
                <span class="small pull-right" ng-show="isUserAuthor(userId(), item.authorId)">
                    <a ng-if="isEditor()" ng-show="item.pending" ng-click="activate()"><span class="glyphicon glyphicon-ok"></span></a>
                    <a ng-if="isEditor() || isUserAuthor(userId(), item.authorId)" ui-sref="newsEdit({id: item.id})"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a ng-if="isEditor() || isUserAuthor(userId(), item.authorId)" ng-click="delete()"><span class="glyphicon glyphicon-trash"></span></a>
                </span>
            </span>
        </h3>
    </div>
    <div class="row-fluid">
        <article ng-bind-html="item.message | rawHtml"></article>
        <div class="row-fluid alert-warning">
            <ul class="list-inline">
                <li><label>@ColonsMessages.Reads</label> {{ item.reads }}</li>
                <li><label>@ColonsMessages.Source</label> {{ item.source }}</li>
                <li><label>@ColonsMessages.AdditionTime</label> {{ item.additionTime | date:'medium' }}</li>
                <li><label>@ColonsMessages.Category</label> <a ui-sref="news({page: 1, categoryId: item.newsCategoryId})"> {{ item.newsCategoryName }} </a></li>
            </ul>
        </div>
    </div>

    @ColonsMessages.CommentsCount {{item.commentsCount}}

    <div ng-repeat="comment in item.comments">
        <tree comment="comment" deep="0"></tree>
    </div>

    <form class="form-horizontal" name="commentForm" role="form">
        <div class="col-md-12" ng-if="item.canCommentary" ng-show="loggedIn()">
            <div class="col-md-12">
                <textarea mark-it-up class="col-md-offset-2 col-md-8" rows="6" name="message" ng-model="newComment.message" validation="required"></textarea>
            </div>
            <div class="row">
                <button class="btn btn-primary center-block" data-toggle="modal" ng-disabled="commentForm.$invalid" ng-click="addComment()" data-target="#myModal" id="addComment"> @CommonMessages.Create</button>
            </div>
        </div>
    </form>
</div>

<script type="text/ng-template" id="modalDeleteConfirmation.html">
    <div class="modal-header">
        <h3 class="modal-title">@CommonMessages.DeleteConfirmation</h3>
    </div>
    <div class="modal-body">
        @CommonMessages.Delete?
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">@CommonMessages.Delete</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">@CommonMessages.Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="modalEditComment.html">
    <div class="modal-header">
        <h3 class="modal-title">@CommonMessages.EditingComment</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="editCommentForm" role="form">
            <textarea mark-it-up class="col-md-offset-3 col-md-6" rows="6" name="message" ng-model="editingComment.message" validation="required"></textarea>
            <textarea mark-it-up ng-if="isModerator()" class="col-md-offset-3 col-md-6" rows="6" name="answer" ng-model="editingComment.answer"></textarea>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-disabled="editCommentForm.$invalid" ng-click="ok()">@CommonMessages.Save</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">@CommonMessages.Cancel</button>
    </div>
</script>