@using MyLiverpool.Business.Resources

@{
//ViewBag.Title = Model.Title;
}

<div class="row-fluid">
    <div class="row">
        <h3 class="">
            <span class="col-md-9 alert-danger">
                {{ item.title }}
            </span>
            <span class="col-md-3">
                @if (Request.IsAuthenticated && User.IsInRole("NewsFull"))
                {
                    <span class="small pull-right">
                        @*       @if(Model.Pending)*@
                        {
                        @*       <a href="@Url.Action("Activate", )"><span class="glyphicon glyphicon-ok"></span></a>*@
                        }
                        @*<a href="@Url.Action("Edit", )"><span class="glyphicon glyphicon-pencil"></span></a>*@
                        <a data-toggle="modal" data-target="#confirmDelete" data-id=""><span class="glyphicon glyphicon-trash"></span></a>
                    </span>
                }
            </span>
        </h3>
    </div>
    <div class="row-fluid">
        @*@Html.HiddenFor(model => model.Id)        
            @Html.Raw(Model.Message)*@
        {{ item.message }}
        <div class="row-fluid alert-warning">
            <ul class="list-inline">
                <li><label>Reads:</label> {{ item.reads }}</li>
                <li><label>Source:</label> {{ item.source }}</li>
                <li><label>AdditionTime:</label> {{ item.additionTime | date:'medium' }}</li>
                <li><label>NewsCategory:</label> <a ui-sref="news({categoryId: item.NewsCategoryId})"> {{ item.newsCategoryName }} </a></li>
            </ul>
        </div>
    </div>
    <div class="media-list" id="comments">
        {{item.comments.length}}
        @*  @ShowTree(Model.Comments, 0)*@
    </div>
    @* && Model.CanCommentary)*@
   @if (Request.IsAuthenticated) //todo edit to angular
    {
       <div class="col-md-12" ng-if="item.canCommentary">
        <div class="">
            <textarea id="newsCommentMessage" class="col-md-4 editor" rows="6"></textarea>
            <br />
            <button class="btn btn-primary center-block" data-toggle="modal" data-target="#myModal" id="addComment"> @CommonMessages.Create</button>
        </div>
    </div>
    }
</div>
@*@helper ShowTree(IEnumerable<IndexNewsCommentVM> comments, int deep)
        {
foreach (var comment in comments)
{
    if (comment.Parent == null)
    {
        deep = 0;
    }
    <li class="media comment col-md-offset-@deep" data-id="@comment.Id">
        @Html.HiddenFor(c => comment.Id)
        <div class="media-body">
            <div class="row-fluid col-md-12">
                <span class="col-md-9">@comment.Author.UserName</span>
                <span class="col-md-3">
                    @if (Request.IsAuthenticated)
                    {
                        <span class="pull-right">
                             <a href="@Url.Action("Activate", new {id = Model.Id})"><span class="glyphicon glyphicon-ok"></span></a>
                            <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a data-toggle="modal" data-target="#confirmDeleteComment" data-id="@Model.Id"><span class="glyphicon glyphicon-trash"></span></a>
                        </span>
                    }
                </span>
            </div>
            <a class="pull-left" href="#">
                <img class="media-object img-thumbnail img-responsive" src="@comment.Author.PhotoPath" alt="@comment.Author.UserName">
            </a>
            @Html.Raw(comment.Message)
            @if (!comment.Answer.IsEmpty())
            {
                <div class="answer">
                    <span class="row"> @NewsMessages.Answer</span>
                    <i>@Html.Raw(comment.Answer)</i>
                </div>
            }
        </div>
        <br />
        @if (User.Identity.IsAuthenticated && Model.CanCommentary)
        {
            <button class="btn reply-button" data-toggle="modal" data-target="#addReply">@CommonMessages.Reply</button>
        }
    </li>
    if (comment.Children.Any())
    {
        if (deep < 5)
        {
            deep += 1;
        }
        @ShowTree(comment.Children, deep)
    }
}
}*@

<div class="modal fade" id="addReply" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @* id="add-reply" tabindex="-1" style="width: 350px; margin: auto; margin-top: 300px; z-index: 999"*@
            <div class="modal-header">
                <h3 class="text-info">add reply</h3>
                <input id="parent-comment-id" value="" hidden="" />
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="edit-aim-comment-form">
                    <div class="control-group">
                        <label style="">comment</label>
                        <div class="controls">
                            <textarea class="editor" id="add-reply-comment" data-val="true" data-val-regex="" data-val-regex-pattern="^[^<>]+$"
                                      data-val-required="enterComment" rows="5"
                                      style="margin-top: -21px; width: 519px;"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="add-reply-comment-submit" class="btn btn-primary" type="submit" aria-hidden="true" style="margin-right: 20px;">@CommonMessages.Create</button>
                <a href="#" class="cancel" data-dismiss="modal" style="">@CommonMessages.Cancel</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmDeleteNews">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <input hidden id="newsId" value="" />
                <h4 class="modal-title">@CommonMessages.DeleteConfirmation</h4>
            </div>
            <div class="modal-body">
                <p>@CommonMessages.Delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@CommonMessages.Cancel</button>
                <button type="button" class="btn btn-primary" id="deleteNews">@CommonMessages.Delete</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="confirmDeleteComment">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <input hidden id="commentId" value="" />
                <h4 class="modal-title">@CommonMessages.DeleteConfirmation</h4>
            </div>
            <div class="modal-body">
                <p>@CommonMessages.Delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@CommonMessages.Cancel</button>
                <button type="button" class="btn btn-primary" id="deleteComment">@CommonMessages.Delete</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@*<script>
        $('#addComment').click(function() {
            console.log('add comment');
            postValues();
        });

        function postValues() {
            var comment = $('#newsCommentMessage').htmlcode();
            console.log(comment);
            if (!comment) {
                return;
            }
            var newsId = @Model.Id;
            $.ajax({
                type: 'post',
                url: '@Url.Action("AddComment", "News")',
                data: { comment: comment, newsId: newsId },
                beforeSend: function() {

                },
                success: function(response) {
                    $('#newsCommentMessage').val('');
                    publishComment(response, comment);
                }
            });
        }

        function publishComment(id, comment) {
            console.log(id);
            //"<div class='comment'> <input id='comment_Id' name='comment.Id' type='hidden' value=" + id + "> " + comment + "@User.Identity.Name <br> <button class='reply'>add reply </button></div>");

            $('#comments').append("<li class='media comment'><a class='pull-left' href='#'><img class='media-object img-thumbnail' src='@User.Identity.Name' alt='comment.Author.UserName'></a><div class='media-body'><h4 class='media-heading'>@User.Identity.Name</h4><input id='comment_Id' name='comment.Id' type='hidden' value" + id + "> " + comment + "</div><br/><button class='btn' data-toggle='modal' data-target='#addReply'>@CommonMessages.Reply</button></li>");
            hideReplyWindow();
        }

        $('.reply-button').click(function() {
            console.log('reply');
            var comment = $(this).parent();
            console.log(comment);
            var id = comment.find(':first-child');
            console.log(id.val());
            $('#parent-comment-id').val(id.val());
        });

        function hideReplyWindow() {
            $('#add-reply-comment').htmlcode('');
            $('#parent-comment-id').val('');
            $('#addReply').modal('hide');
        }

        $('.cancel').click(function() {
            hideReplyWindow();
        });

        $('#add-reply-comment-submit').click(function() {
            console.log('add-reply-comment-submit click');
            var comment = $('#add-reply-comment').htmlcode();
            console.log(comment);
            if (!comment) {
                return;
            }

            var newsId = @Model.Id;
            var parentId = $('#parent-comment-id').val();
            console.log(parentId);
            console.log('add-reply-comment-submit click 2');
            $.ajax({
                type: 'post',
                url: '@Url.Action("AddComment", "News")',
                data: { comment: comment, newsId: newsId, parentId: parentId },
                beforeSend: function() {

                    //     $('#quality-achievement-modal').modal('hide');
                },
                success: function(response) {
                    console.log('response start');
                    publishComment(response, comment);
                    console.log('response end');
                }
            });
        });

        $('#confirmDeleteComment').on('shown.bs.modal', function(e) {
            console.log('confirmDeleteComment');
            var id = $(e.relatedTarget).closest('li').attr('data-id');
            $('#commentId').val(id);
        });

        $('button#deleteComment').on('click', function() {
            console.log('delete');
            deleteComment();
        });

        function deleteComment() {
            console.log('deleteComment');
            var commentId = $('#commentId').val();
            if (!commentId) {
                console.log("commentId null");
                return;
            }
            $.ajax({
                type: 'post',
                url: '@Url.Action("DeleteComment", "News")',
                data: { id: commentId },
                beforeSend: function() {

                },
                success: function(response) {
                    $('#commentId').val('');
                    if (response) {
                        $('#commentId').val('');
                        $("li[data-id='"+ commentId +"']").remove();
                        console.log('finish');
                    } else {
                        console.log("not delete");
                    }
                    $('#confirmDeleteComment').modal('hide');
                }
            });
        };
    </script>*@
