@using MyLiverpool.Business.Resources
@{
    ViewBag.Title = NewsMessages.News;
}
<div class="container-fluid" ng-repeat="item in newsItems">
    <div class="container-fluid">
        <div class="row">
            <a ui-sref="newsInfo({id: item.id})" class="col-md-9"><span>{{ item.title }}</span></a>
            @if (User.IsInRole("NewsStart"))
            {
                <span class="col-md-3">
                        @if (User.IsInRole("NewsFull"))
                        {
                            <a ng-show="item.pending" ng-click="activate($index)" href=""><span class="glyphicon glyphicon-ok"></span></a>
                        }
                  @*todo*@      <a ng-show="isUserAuthor(userId(), item.authorId)" ng-click=""><span class="glyphicon glyphicon-pencil"></span></a>
                        <a ng-show="isUserAuthor(userId(), item.authorId)" ng-click="delete($index)"><span class="glyphicon glyphicon-trash"></span></a>
                    </span>
            }
        </div>
        <div class="row">
            <img class="img-thumbnail" alt="" ng-src="{{item.photoPath}}" style="width: 300px; height: 140px;"/>
        </div>
        <div class="row">
            <span><i> {{ item.brief }}</i></span>
        </div>
        <ul class="list-inline">
            <li class="">@NewsMessages.NewsCategory</li>
            <li class=""><a ui-sref="news({categoryId: item.newsCategoryId})">{{ item.newsCategoryName}}</a></li>
            <li class="">|</li>
            <li class="">@NewsMessages.AdditionTime</li>
            <li class="">{{item.additionTime | date:'medium'}}</li>
            <li class="">|</li>
            <li class="">@NewsMessages.Reads</li>
            <li class="">{{item.reads}}</li>
            <li class="">|</li>
            <li class="">@NewsMessages.Author</li>
            <li class=""><a ui-sref="userInfo({id: item.authorId })">{{item.authorUserName }}</a></li>
        </ul>
    </div>
    <hr/>
</div>
<div class="pagination"><uib-pagination total-items="countPage" ng-model="pageNo" ng-change="pageChanged()"></uib-pagination>
     @* @Html.PageLinks(Model.PageNo, Model.CountPage, x => Url.Action("Index", "News", new { page = x  ,categoryId = Request.QueryString["categoryId"]*@     </div>

<script type="text/ng-template" id="modalDeleteConfirmation.html">
    <div class="modal-header">
        <h3 class="modal-title">@CommonMessages.DeleteConfirmation</h3>
    </div>
    <div class="modal-body">
        @CommonMessages.Delete?
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">@CommonMessages.Delete</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">@CommonMessages.Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="alert.html">
    <div class="alert" style="background-color:#fa39c3;color:white" role="alert">
        <div ng-transclude></div>
    </div>
</script>


@*<div class="modal fade" id="confirmDelete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <input hidden id="newsId" value="" />
                <h4 class="modal-title">@CommonMessages.DeleteConfirmation</h4>
            </div>
            <div class="modal-body">
                <p>@CommonMessages.Delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@CommonMessages.Cancel</button>
                <button type="button" class="btn btn-primary" id="delete">@CommonMessages.Delete</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->*@

@*<script>
    $(document).ready(function() {
        $('#confirmDelete').on('shown.bs.modal', function(e) {
            console.log($(e.relatedTarget).attr('data-id'));
            var id = $(e.relatedTarget).attr('data-id');
            $('#newsId').val(id);
        });

        $('button#delete').on('click', function() {
            console.log('delete');
            deleteNews();
        });

        function deleteNews() {
            var newsId = $('#newsId').val();
            if (!newsId) {
                console.log("newsId null");
                return;
            }
            $.ajax({
                type: 'post',
                url: '@Url.Action("Delete", "News")',
                data: { id: newsId },
                beforeSend: function() {

                },
                success: function(response) {
                    $('#newsId').val('');
                    if (response) {
                        $('#newsId').val('');
                        console.log('finish');
                    } else {
                        console.log("not delete");
                    }
                    $('#confirmDelete').modal('hide');
                }
            });
        }
    });
</script>*@