@using MyLiverpool.Business.Resources

<div class="container-fluid" ng-repeat="item in newsItems">
    <div class="container-fluid" ng-if="!item.pending || isEditor()">
        <div class="row">
            <a ui-sref="newsInfo({id: item.id})" class="col-md-9"><span>{{ item.title }}</span></a>
                <span class="col-md-3" ng-if="isNewsmaker()">
                    <a ng-if="isEditor()" ng-show="item.pending" ng-click="activate($index)"><span class="glyphicon glyphicon-ok"></span></a>
                    <a ng-if="isEditor() || isUserAuthor(userId(), item.authorId)" ui-sref="newsEdit({id: item.id})"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a ng-if="isEditor() || isUserAuthor(userId(), item.authorId)" ng-click="delete($index)"><span class="glyphicon glyphicon-trash"></span></a>
                </span>
        </div>
        <div class="row">
            <img class="img-thumbnail news-mini" alt="" ng-src="{{item.photoPath}}" />
        </div>
        <div class="row">
            <i> <span ng-bind-html="item.brief | rawHtml"></span></i>
        </div>
        <ul class="list-inline small small-offset">
            <li class="">@ColonsMessages.Category</li>
            <li class=""><a ui-sref="news({page: 1, categoryId: item.newsCategoryId})">{{ item.newsCategoryName}}</a></li>
            <li class="">|</li>
            <li class="">@ColonsMessages.AdditionTime</li>
            <li class="">{{item.additionTime | date:'medium'}}</li>
            <li class="">|</li>
            <li class="">@ColonsMessages.Reads</li>
            <li class="">{{item.reads}}</li>
            <li class="">|</li>
            <li class="">@ColonsMessages.Author</li>
            <li class=""><a ui-sref="userInfo({id: item.authorId })">{{item.authorUserName }}</a></li>
            <li class="">|</li>
            <li class="">@ColonsMessages.CommentsCount</li>
            <li class="">{{ item.commentsCount }}</li>
        </ul>
        <hr />
    </div>
</div>
<div class="pagination">
    <uib-pagination ng-show="totalItems > itemPerPage" total-items="totalItems" ng-model="pageNo" ng-change="goToPage()"></uib-pagination>
</div>

<script type="text/ng-template" id="modalDeleteConfirmation.html">
    <div class="modal-header">
        <h3 class="modal-title">@CommonMessages.DeleteConfirmation</h3>
    </div>
    <div class="modal-body">
        @CommonMessages.Delete?
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">@CommonMessages.Delete</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">@CommonMessages.Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="alert.html">
    <div class="alert" style="background-color:#fa39c3;color:white" role="alert">
        <div ng-transclude></div>
    </div>
</script>