@    using System.Globalization
@model GetCurrentTransferListQuery.Response

@{
    ViewBag.Title = "Трансферы этого сезона";
    Layout = "_Layout";
}
@{
    var totalOut = Model.Results.Where(x => x.Coming).Sum(x => x.Amount.GetValueOrDefault(0));
    var totalIn = Model.Results.Where(x => !x.Coming).Sum(x => x.Amount.GetValueOrDefault(0));
}
<h3 class="top20">Общая сумма: @if (totalIn < totalOut)
                               {
                                   <span>-</span>
                                   
                               } @(Math.Abs(totalIn - totalOut).ToString("C", new CultureInfo("us-GB"))) </h3>
<div class="top20">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Пришли</h3>
        </div>
        <div class="panel-body">
            @foreach (var transfer in Model.Results.Where(x => x.Coming))
            {
                <div>
                    @*<a *ngIf="roles.isInformer" [routerLink]="['/persons', transfer.personId, 'edit']">
                            <span [textContent]="transfer.personName"></span>
                        </a>*@
                    @*<a *ngIf="roles.isInformer" [routerLink]="['/transfers', transfer.id, 'edit']"><span class="glyphicon glyphicon-pencil"></span></a>*@
                    <div>
                        <b>@transfer.PersonName</b>
                    </div>
                    @if (!string.IsNullOrWhiteSpace(transfer.ClubName))
                    {
                        <div> Из <img class="mini-logo" src="@transfer.ClubLogo" alt="@transfer.ClubName" />@transfer.ClubName</div>
                    }
                    <div>
                        Дата: <span class="timeConvert" data-time="@transfer.StartDate.ToString("O")"></span>
                    </div>
                    @if (transfer.OnLoan)
                    {
                        <div class="full-width">В аренде</div>
                    }
                    <div>
                        Сумма: @if (transfer.Amount.HasValue)
                        {
                            if (transfer.Amount > 0)
                            {
                                <span>@transfer.Amount.Value.ToString("C", new CultureInfo("us-GB"))</span>
                            }
                            else
                            {
                                <span>Свободный агент</span>
                            }
                        }
                        else
                        {
                            <span>Не определена</span>
                        }
                    </div>
                    <hr />
                </div>
            }
        </div>
        <div class="panel-footer">
            <div>Всего: -@totalOut.ToString("C", new CultureInfo("us-GB"))</div>
        </div>
    </div>
</div>
<div class="top20">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">Ушли</h3>
        </div>
        <div class="panel-body">
            @foreach (var transfer in Model.Results.Where(x => !x.Coming))
            {
                <div>
                    @*<a *ngIf="roles.isInformer" [routerLink]="['/transfers', transfer.id, 'edit']">
                            <div [textContent]="transfer.personName"></div>
                        </a>*@
                    <div>
                        <b>@transfer.PersonName</b>
                    </div>                    
                    @if (!string.IsNullOrWhiteSpace(transfer.ClubName))
                    {
                        <div>
                            В <img class="mini-logo" src="@transfer.ClubLogo" alt="@transfer.ClubName" />@transfer.ClubName</div>
                    }
                    <div>
                        Дата: <span class="timeConvert" data-time="@transfer.StartDate.ToString("O")"></span>
                    </div>
                    @if (transfer.OnLoan)
                    {
                        <div class="full-width">В аренде</div>
                    }
                    <div>
                        Сумма: @if (transfer.Amount.HasValue)
                        {
                            if (transfer.Amount > 0)
                            {
                                <span>@transfer.Amount.Value.ToString("C", new CultureInfo("us-GB"))</span>
                            }
                            else
                            {
                                <span>Свободный агент</span>
                            }
                        }
                        else
                        {
                            <span>Не определена</span>
                        }
                    </div>
                    <hr />
                </div>
            }
        </div>
        <div class="panel-footer">
            <div>Всего: @totalIn.ToString("C", new CultureInfo("us-GB"))</div>
        </div>
    </div>
</div>