@model GetSeasonCalendarQuery.Response

@{
    ViewBag.Title = "Календарь матчей";
    Layout = "_Layout";
}

<div style="overflow-x:auto">
    <table class="table table-condensed table-bordered table-hover table-responsive">
        <tbody class="">
        @{ var i = 1; }
        @foreach (var month in Model.Months)
        {
            foreach (var match in month.Matches)
            {
                <tr class="center-middle">
                    <td>@(i++)</td>
                    <td>
                        <span>@match.TypeName</span>
                    </td>
                    <td>
                        <span>
                            <span data-date="@match.DateTime.ToString("O")"
                                  data-dow="true"
                                  data-sec="false"
                                  class="timeConvert">
                            </span>
                        </span>
                    </td>
                    <td>
                        <div class="flex-vertical-center">
                            <span class="col-xs-12 col-md-5 text-center">
                                <img class="club-logo" src="@match.HomeClubLogo" alt="@match.HomeClubName">
                                @match.HomeClubName
                            </span>
                            <span class="col-xs-12 col-md-2 text-center">
                                <span>@match.ScoreHome</span>:<span>@match.ScoreAway</span>
                            </span>
                            <span class="col-xs-12 col-md-5 text-center">
                                <img class="club-logo" src="@match.AwayClubLogo" alt="@match.AwayClubName">
                                @match.AwayClubName
                            </span>
                        </div>
                    </td>
                    <td>
                        @match.StadiumName
                    </td>
                    <td>
                        @if (match.PreviewId.HasValue)
                        {
                            <a asp-action="Detail" asp-controller="News" asp-route-id="@match.PreviewId">Превью</a>
                        }
                        @if (!string.IsNullOrWhiteSpace(match.ReportUrl))
                        {
                            <a asp-action="Detail" asp-controller="News" asp-route-id="@match.ReportUrl">Отчет</a>
                        }
                        else
                        {
                            <a asp-action="Detail" asp-controller="Matches" asp-route-id="@match.Id">Обсуждение</a>
                        }
                        @if (!string.IsNullOrWhiteSpace(match.PhotoUrl))
                        {
                            <a asp-action="Detail" asp-controller="News" asp-route-id="@match.PhotoUrl">Фото</a>
                        }
                        @if (!string.IsNullOrWhiteSpace(match.VideoUrl))
                        {
                            <a href="@match.VideoUrl" target="_blank">Видео</a>
                        }
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>